{% extends 'main.html' %}
{% block title %}
    Mode
{% endblock title %}
{% block content %}
<div class="container">
<center>
</br></br> </br>
  <form id="contact-form" action="/change", method="POST">
    <!--<label for="change">Choose a mode:</label>-->
    <!--<div class = "box" for = "change">-->
      <select name="change" id="change" style="font-size:200%;">
        <option value="-1">เลือกโหมด</option>
        <option value="0">นับเป็นชิ้น</option>
        <option value="1">นับเป็นกลุ่มก้อน</option>
      </select>
    <!--</div>
    </br>-->
    <input class = "button" type="submit" value="Submit" style="font-size:200%;"> 
  </form>
  </center>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </div>
{% endblock content %}