{% extends 'main.html' %}
{% block title %}
    Thurmlana
{% endblock title %}
{% block content %}
<div class="container">
    <center>
   </br> </br>
      <form method="get" action="/setting">
        <button class="button" type="submit" style="font-size:200%;">Setting</button>
      </form>
      <form method="get" action="/change">
        <button class="button" type="submit" style="font-size:200%;">Mode</button>
      </form>
    </center>
    </br>
    <img src="{{ url_for('video_feed') }}" width= "600" height="600">
    <img src="{{ url_for('video_feed2') }}" width= "600" height="600">
    <img src="{{ url_for('video_feed3') }}" width= "600" height="600">
    <img src="{{ url_for('video_feed4') }}" width= "600" height="600">
</div>
{% endblock content %}
