<html>
<head>
    <title> {% block title %}{% endblock title %} </title>
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/styles.css')}}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
     <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script> 
</head>
<body>
<div class = "bg-dark">
</br></br>
    <center>
    <image src="{{ url_for('static' , filename = 'img/Logo.png') }}" width= "600" height="150">
    </center>
    {% block content %}
    {% endblock content %}
    </div>
</div>
</body>
</html>