{% extends 'main.html' %}
{% block title %}
    Setting
{% endblock title %}
{% block content %}
  <div class="container">
    </br>
    </br>
    <form id="contact-form" action="/save", method="POST">
        <h2 style="color:White;" >จำนวนที่น้อยที่สุดที่ท่านต้องการ (กรุณาใส่ค่าที่>0) <input type = "text" name = "save" /></h2>
        <p><button class = "button" type = "submit" style="font-size:150%;">ตกลง </button></p>
    </form>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  </div>
{% endblock content %}