<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Board Game</title>
  <link rel="icon" href="icon/icon.ico">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/slick.css">
  <link rel="stylesheet" href="/static/css/search.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-dark">
    <div class="container navbar-container">
      <a class="navbar-brand" href="#">Board Game</a>
      <div class="ml-auto right-nav">
        <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top"
          title="สำหรับคนที่ไม่รู้ว่าชอบเล่นเกมแนวไหน มาให้เราทายใจคุณกันเถอะ!"></i>
        <a href="templates/index.html">
        <form action="QuestionOpen" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger">
            ทายใจ
          </button>
        </form>
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <!-- <h2 class="center" id="title">Board Game</h2> -->

    <!-- ปุ่ม search -->
    <!-- <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
      <a href="#about">About</a>
      <a href="#base">Base</a>
      <a href="#blog">Blog</a>
      <a href="#contact">Contact</a>
      <a href="#custom">Custom</a>
      <a href="#support">Support</a>
      <a href="#tools">Tools</a>
    </div>
  </div> -->
    <!-- <br>
  <form action="file:///C:/Users/wawarnvy/Downloads/Boadgame/templates/index.html" method="POST">
    <button class="button call-action-button" input type="submit" value="Back" style="float: right; margin-right: 60px;">ทายใจ</button>
  </form> -->

    <div class="sqbg">
      <!-- Party Game -->
      <div class="carousel clearfix">
        <h2 id="title-name">Party Game</h2>
        <div class="carousel-view clearfix">
          <div class="box" data-toggle="modal" data-target="#exampleModal">
            <p><br><img src="/static/image/Party/pic1.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->

          <div class="box" data-toggle="modal" data-target="#exampleKitten">
            <p><br><img src="/static/image/Party/pic1.png" alt="image" id="responsive-image">
          </div><!-- end box -->

          <div class="box" data-toggle="modal" data-target="#exampleAvalon">
            <p><br><img src="/static/image/Party/pic3.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->

          <div class="box" data-toggle="modal" data-target="#exampleCoup">
            <p><br><img src="/static/image/Party/pic4.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->

          <div class="box" data-toggle="modal" data-target="#exampleSalem">
            <p><br><img src="/static/image/Party/pic5.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->

          <div class="box" data-toggle="modal" data-target="#exampleBang">
            <p><br><img src="/static/image/Party/pic6.jpg" alt="image" id="responsive-image">
              <br>
          </div><!-- end box -->
        </div><!-- carousel-view -->
      </div>
      <!-- Family Game -->
      <div class="carousel clearfix">
        <h2 id="title-name">Family Game</h2>
        <div class="carousel-view clearfix">
          <div class="box" data-toggle="modal" data-target="#exampleForSale">
            <p><br><img src="/static/image/family/pic1.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#exampleDixit">
            <p><br><img src="/static/image/family/pic2.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#exampleSettles">
            <p><br><img src="/static/image/family/pic3.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#exampleArt">
            <p><br><img src="/static/image/family/pic4.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#exampleBoss">
            <p><br><img src="/static/image/family/pic5.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#exampleSheriff">
            <p><br><img src="/static/image/family/pic6.jpg" alt="image" id="responsive-image">
              <br>
          </div><!-- end box -->

        </div><!-- carousel-view -->
      </div>
      <!-- Thematic Game -->
      <div class="carousel clearfix">
        <h2 id="title-name">Thematic Game</h2>
        <div class="carousel-view clearfix">
          <div class="box" data-toggle="modal" data-target="#exampleSherlock">
            <p><br><img src="/static/image/Thematic/sherlock.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->

          <div class="box" data-toggle="modal" data-target="#exampleWinter">
            <p><br><img src="/static/image/Thematic/dead.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->

          <div class="box" data-toggle="modal" data-target="#exampleDetective">
            <p><br><img src="/static/image/Thematic/detective.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->

          <div class="box" data-toggle="modal" data-target="#exampleFounders">
            <p><br><img src="/static/image/Thematic/founders.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->

          <div class="box" data-toggle="modal" data-target="#examplePandemic">
            <p><br><img src="/static/image/Thematic/legacy.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->

          <div class="box" data-toggle="modal" data-target="#exampleMansions">
            <p><br><img src="/static/image/Thematic/madness.jpg" alt="image" id="responsive-image">
              <br>
          </div><!-- end box -->

        </div><!-- carousel-view -->
      </div>
      <!-- Abstract Game -->
      <div class="carousel clearfix">
        <h2 id="title-name">Abstract Game</h2>
        <div class="carousel-view clearfix">
          <div class="box" data-toggle="modal" data-target="#exampleAzul">
            <p><br><img src="/static/image/Abstract/azul.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#exampleBazaar">
            <p><br><img src="/static/image/Abstract/baz.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#exampleDaVinciCode">
            <p><br><img src="/static/image/Abstract/davin.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#exampleCenturySpiceRoad">
            <p><br><img src="/static/image/Abstract/dentury.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#examplePylosMini">
            <p><br><img src="/static/image/Abstract/pylos.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#exampleSplendor">
            <p><br><img src="/static/image/Abstract/splendor.jpg" alt="image" id="responsive-image">
              <br>
          </div><!-- end box -->

        </div><!-- carousel-view -->
      </div>
      <!-- Strategy Game -->
      <div class="carousel clearfix">
        <h2 id="title-name">Strategy Game</h2>
        <div class="carousel-view clearfix">
          <div class="box" data-toggle="modal" data-target="#exampleStoneAge">
            <p><br><img src="/static/image/Strategy/age.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#exampleArchitectOfTheWestKingdom">
            <p><br><img src="/static/image/Strategy/arch.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#exampleTerraformingMars">
            <p><br><img src="/static/image/Strategy/mar.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#examplePowerGrid">
            <p><br><img src="/static/image/Strategy/power.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#exampleScythe">
            <p><br><img src="/static/image/Strategy/scy.jpg" alt="image" id="responsive-image">
          </div><!-- end box -->
          <div class="box" data-toggle="modal" data-target="#example7Wonders">
            <p><br><img src="/static/image/Strategy/wonder.jpg" alt="image" id="responsive-image">
              <br>
          </div><!-- end box -->

        </div><!-- carousel-view -->
      </div>
      <!-- Party Game -->
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic6.jpg" alt="werewolf">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> WereWolf </h1>
            <h2> เกมล่าปริศนามนุษย์หมาป่า </h2>
            <h3> จำนวนผู้เล่น: 5-75 คน </h3>
            <h3> ระยะเวลาเล่น: 15นาที-ตามจำนวนผู้เล่น </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              ในหมู่บ้านแห่งหนึ่ง ทุกๆ คืนจะมีชาวบ้านโดนมนุษย์หมาป่ากัดตาย ชาวบ้านจึงปิดหมู่บ้านสืบสวนกัน
              ตามหาว่าใครกันแน่ในหมู่บ้านที่เป็นมนุษย์หมาป่าคอยออกมาทำร้านชาวบ้าน
              ซึ่งในขณะที่มนุษย์หมาป่าต้องซ่อนตัวปะปนไปกับชาวบ้าน โดยไม่ให้โดนจับได้
              </br>เกมจะแบ่งเป็น 2 ฝ่าย
              </br>1.ชาวบ้านที่อาศัยอยู่ในหมู่บ้านอย่างสงบสุข
              </br>2.หมาป่าที่แอบแฝงอยู่ในหมู่บ้าน
              </br>และแบ่งเป็นช่วงเวลา 2 ช่วง
              </br>1. ช่วงกลางคืน
              </br>- หมาป่าตกลงกันเองว่าจะเลือกฆ่าใคร แล้วระบุเป้าหมายที่จะฆ่ามา 1 คน
              </br>2. ช่วงกลางวัน
              </br>- ทุกคนมาพร้อมกันที่กลางหมู่บ้าน ดูว่ามีใครตาย
              จากนั้นก็ถกกันว่าใครคือผู้ต้องสงสัยว่าเป็นฆาตกร
              </br>- โหวตเผาผู้ต้องสงสัย หากใครโดนโหวตมากที่สุด จะโดนจับเผา
              </br>- ใครที่ตายไปแล้ว ห้ามมีส่วนร่วมเกี่ยวกับเกม ห้ามมาให้คำแนะนำหรือร่วมถกกับคนที่ยังไม่ตาย
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleKitten" tabindex="-1" aria-labelledby="exampleKittenLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic7.jpg" alt="kitten">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Exploding Kittens </h1>
            <h2> เกมแมวระเบิด </h2>
            <h3> จำนวนผู้เล่น: 2-5 คน </h3>
            <h3> ระยะเวลาเล่น: 15 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เกมการ์ดแนว Battle Royale หรือ Russian Roulette ในการเล่นนั้น แต่ละคนจะค่อยๆ
              ผ่านเทิร์นของตัวเองและลุ้นว่าจะมีใครหยิบได้ระเบิดไหม
              หากเจอระเบิดและไม่มีใบกู้ระเบิด ก็จะโดนระเบิดพ่ายแพ้ไปจนกว่าจะเหลือผู้ชนะเพียงคนเดียวเท่านั้น
              </br>1.ให้แยกการ์ด Exploding Kitten และ Defuse ออกมาจากกองการ์ด
              </br>2.สับกองการ์ดและแจกจ่ายการ์ดให้ผู้เล่นแต่ละคน 7 ใบ และมอบ Defuse ให้คนละ 1 ใบ
              </br>3.นำการ์ด Exploding Kitten ใส่เข้าไปในกองการ์ดตามจำนวนผู้เล่นทั้งหมด ลบ 1 (เล่น 4 คนใส่ 3)
              </br>4.แยกการ์ด Exploding Kitten ไว้ต่างหาก จากนั้นสับกองการ์ดให้เรียบร้อย พร้อมเล่นทันที
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleAvalon" tabindex="-1" aria-labelledby="exampleAvalonLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic8.jpg" alt="avalon">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Avalon </h1>
            <h2> เกมคนลวง </h2>
            <h3> จำนวนผู้เล่น: 5-10 คน </h3>
            <h3> ระยะเวลาเล่น: 30 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              </br>ผู้เล่นแต่ละคนจะต้องออกไปทำภารกิจทั้งหมด 5 ภารกิจ
              โดยผู้เล่นจะผลัดกันรับตำแหน่งผู้นำในการคัดเลือกลูกทีมเพื่อ
              </br>ไปทำภารกิจให้สำเร็จตามเป้าหมายที่ตัวเองได้รับ ซึ่งเป้าหมายของแต่ละคนก็จะไม่เหมือนกัน
              ขึ้นอยู่กับว่าผู้เล่นหยิบไพ่ตัวละครได้อยู่ทีมไหน
              </br>โดยเแบ่งเป็นสองทีมคือ
              </br>มีทั้งฝ่ายดี (ทีมน้ำเงิน)
              </br>ฝ่ายชั่ว (ทีมแดง)
              </br>ซึ่งหากเป็นฝ่ายดีจะต้องทำให้ภารกิจสำเร็จ และหากเป็นฝ่ายชั่วจะต้องทำภารกิจให้ล้มเหลว
              </br>โดยทีมใดทำให้เป้าหมายตัวเองสำเร็จก่อน 3 ครั้ง จะเป็นผู้ชนะ
              โดยผู้เล่นจะแต่ละคนจะต้องซ่อนตัวละครเอาไว้ไม่ให้ผู้เล่นคนอื่นรู้ว่าอยู่ทีมใด
              </br>และต้องพยายามพูดจาหลอกล่อให้ตัวเองถูกส่งไปทำภารกิจ
              เพื่อที่จะทำให้ภารกิจออกมาสำเร็จตามเป้าหมายของตัวเอง
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleCoup" tabindex="-1" aria-labelledby="exampleCoupLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic10.jpg" alt="Coup">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Coup </h1>
            <h2> เกมนักปฏิวัติ </h2>
            <h3> จำนวนผู้เล่น: 2-6 คน </h3>
            <h3> ระยะเวลาเล่น: 5-15 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เป็นการ์ดเกมที่มีธีมหลักเกี่ยวกับการเมือง ผู้เล่นรับบทเป็นหัวหน้าตระกูลของกลุ่มผู้มีอิทธิพล
              ที่จะต้องพยายามทำทุกวิถีทางเพื่อที่จะแย่งชิงอำนาจ และเป็นผู้เหลือรอดคนสุดท้ายให้ได้
              ตัวเกมจะให้ผู้เล่นแต่ละคนได้รับตัวละครคนละ 2
              ใบซึ่งถ้าการ์ดตัวละครของเราโดนกำจัดออกทั้งหมดเราก็จะถูกคัดออกจากเกม
              ส่วนวิธีการกำจัดศัตรูของเกมนี้มีหลากหลายรูปแบบ เป็นเกมที่ใช้จิตวิทยา การตัดสินใจ ค่อนข้างมาก
              แต่ถ้าไม่คิดมากก็ชนะได้เหมือนกัน
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleSalem" tabindex="-1" aria-labelledby="exampleSalemLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic9.jpg" alt="Salem">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Salem </h1>
            <h2> เกมล่าแม่มด </h2>
            <h3> จำนวนผู้เล่น: 4-12 คน </h3>
            <h3> ระยะเวลาเล่น: 20-40 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              บรรยากาศเลวร้ายปะทุขึ้นเมื่อชาวเมืองเชื่อว่าในบรรดาเพื่อนบ้านของเขานั้น… มีบางคนเป็น “แม่มด”!
              </br>ในเกมนี้จะต้องเล่นการ์ดที่จั่วขึ้นมาเพื่อใส่ความผู้เล่นที่คุณไม่ไว้ใจ
              และพยายามปกป้องผู้เล่นที่เชื่อว่าอยู่ฝ่ายเดียวกัน “แม่มด”
              และจะชนะเกมเมื่อสามารถสังหารผู้เล่นที่ไม่ใช่แม่มดได้จนหมด
              แต่ชาวเมืองจะชนะเกมเมื่อสามารถหงายการ์ดไต่สวนทุกใบที่เขียนคำว่า “แม่มด” ได้สำเร็จ
              </br>1.นำการ์ดบทบาทมาแจกให้กับผู้เล่นทุกคน ซึ่งจะมีการ์ดแม่มดรวมอยู่ด้วย 1 ถึง 2 ใบต่อวงการเล่น 1 วง
              การได้การ์ดผู้พิทักษ์หมายถึงว่าผู้เล่นจะต้องปกป้องผู้เล่นอื่น 1 คนจากการโดนแม่มดล่าในกลางคืน
              </br>2.นำการ์ดตัวละครมาแจกให้ผู้เล่นคนละ 1 ใบ
              ซึ่งจะทำให้ผู้เล่นแต่ละคนมีความสามารถเฉพาะตัวที่แตกต่างกัน
              </br>3.ให้ทุกคนหลับตาและแม่มดลืมตาขึ้นมาเพื่อนำการ์ดแมวดำไปวางไว้ที่หน้าผู้เล่นหนึ่งคน
              </br>4.ผู้เล่นที่มีการ์ดแมวดำเป็นผู้เล่นคนแรก ซึ่งในรอบการเล่นของตนผู้เล่นสามารถเลือกทำได้ 1 อย่างจาก
              2 อย่างคือ
              </br> 4.1 จั่วการ์ดทั่วไป 2 ใบแล้วจบรอบการเล่นทันที
              </br> 4.2 เล่นการ์ดทั่วไปอย่างน้อย 1 ใบ
              </br>5.การเล่นจะดำเนินไปเรื่อย ๆ จนกระทั่งมีคนตายหรือว่ากองจั่วหมด
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleBang" tabindex="-1" aria-labelledby="exampleBangLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic11.jpg" alt="Bang">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Bang! </h1>
            <h2> เกมคาวบอย </h2>
            <h3> จำนวนผู้เล่น: 3-8 คน </h3>
            <h3> ระยะเวลาเล่น: 15 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              </br>แต่ละคนจะต้องรับบทเป็นตัวละครที่มีความสามารถต่างๆกัน พร้อมบทบาทลับ ที่ไม่สามารถให้ใครรู้ได้
              มีผู้เดียวเท่านั้นที่จะต้องเปิดเผยตัวตนนั่นก็คือนายอำเภอ จะมีบทบาทหลักๆแบ่งออกเป็น 2 ฝ่าย
              </br>1.ฝ่ายคนดี จะประกอบไปด้วย นายอำเภอ และผู้ช่วยนายอำเภอ
              ซึ่งจะต้องทำหน้าที่ปราบเหล่าร้ายให้หมดไปจึงจะชนะไปในเกมนี้
              </br>2.ฝ่ายผู้ร้าย ประกอบไปด้วย โจร และคนทรยศ ซึ่งวิธีการชนะจะแตกต่างจากฝ่ายคนดีอยู่นิดหน่อยคือ
              โจรมีหน้าที่ฆ่านายอำเภอให้ตายจึงจะชนะ
              แต่คนทรยศนั้นจะต้องทำให้ตนเองเหลือรอดเป็นคนสุดท้ายจึงจะชนะไปในเกมนี้
              </br>วิธีเล่น
              </br>1.ผู้เล่นจะต้องได้รับบทบาทลับคนละ 1 ใบ ซึ่งผู้ที่ได้บทเป็นนายอำเภอ จะต้องเปิดบทบาทของตนเอง
              แต่สำหรับบทบาทที่เหลือจะต้องปิดเป็นความลับ
              </br>2.ผู้เล่นทุกคนจะได้รับการ์ดตัวละครคนละ 1 ใบ จากการแจกการ์ดตัวละครแบบสุ่ม
              จะได้รับความสามารถของตัวละครนั้นๆและกระสุนตามการ์ดตัวละคร
              </br>3.นายอำเภอจะได้รับกระสุนบวกเพิ่มจากการ์ดตัวละครอีก 1 เหรียญ
              จากนั้นผู้เล่นจะได้รับการ์ดแอ็คชั่นตามจำนวนของกระสุนที่มี
              </br>4.เกมจะแบ่งเป็น 3 ช่วงด้วยกันคือ
              </br> -จั่วการ์ดแอ็คชั่น ผู้ที่เริ่มเกมคือคนที่รับบทเป็นนายอำเภอจะต้องจั่วการ์ดจากกองกลาง 2 ใบ
              </br> -เล่นการ์ดแอ็คชั่น เมื่อเข้าช่วงเล่นการ์ด จะสามารถเล่นการ์ดแอ็คชั่นกี่ใบก็ได้ แต่จะใช้การ์ด
              BANG! ได้แค่ครั้งเดียว
              </br> -ทิ้งการ์ด เมื่อจบช่วงเล่นการ์ดแอ็คชั่น
              ผู้เล่นทุกคนจะต้องทิ้งการ์ดบนมือให้เหลือตามจำนวนกระสุนของตนเอง
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Family Game -->
  <div class="modal fade" id="exampleForSale" tabindex="-1" aria-labelledby="exampleForSaleLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic12345.png" alt="For Sale">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> For Sale </h1>
            <h2> เกมบ้านนี้ขาย </h2>
            <h3> จำนวนผู้เล่น: 3-6 คน </h3>
            <h3> ระยะเวลาเล่น: 15 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              </br>มีการแบ่งการเล่นออกเป็นสองช่วง ในช่วงแรกจะเป็นการซื้อบ้าน
              และตามด้วยการนำบ้านมาวางขายในตลาดเพื่อทำกำไรให้มากที่สุด
              คนที่ได้เงินกลับไปมากที่สุดนั้นจะเป็นผู้ชนะในแต่ละเกมไป
              </br>เริ่มต้นครึ่งแรก (ประมูลเปิดซอง)
              </br>1.คนที่จะประมูลต้องลงเงิน “มากกว่า” คนก่อนหน้าเท่านั้น ลงเท่ากันหรือน้อยกว่าไม่ได้ หรือสละสิทธิ์
              </br>2.คนที่สละสิทธิ์ จะต้องหยิบบ้านที่มีตัวเลขบนการ์ดต่ำสุดไป และได้รับเงินคืนตามที่ลงไปหารสอง
              </br>3.ประมูลต่อไปเรื่อยๆ จนกว่าคนที่เหลือจะสละสิทธิ์และยอมหยิบบ้านเลขต่ำสุดไล่ไปเรื่อยๆ จนครบ
              </br>ขิงบ้านครึ่งหลัง (ประมูลปิดซอง)
              </br>1.นำการ์ดเงินสดออกมาใช้กัน
              โดยสลับกองแบบการ์ดบ้านและหยิบมาวางหงายเท่าจำนวนผู้เล่นเหมือนกับตอนประมูลการ์ดบ้าน
              </br>2.ทุกคนจะเลือกการ์ดบ้านหลังไหนก็ได้จากมือตัวเอง และวางคว่ำไว้ 1
              ใบเป็นการเสนอประมูลและหงายการ์ดบ้านออกมาพร้อมกัน
              </br>3.ใครที่ลงบ้านที่มีตัวเลขคะแนนสูงสุด จะได้การ์ดเงินสดที่มีมูลค่าสูงสุดไป
              </br>4.คนที่มีบ้านคะแนนต่ำลงมา จะได้การ์ดเงินสดที่มีมูลค่ารองลงมา
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleDixit" tabindex="-1" aria-labelledby="exampleDixitLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic13.jpg" alt="Dixit">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Dixit </h1>
            <h2> เกมทายภาพ </h2>
            <h3> จำนวนผู้เล่น: 3-6 คน </h3>
            <h3> ระยะเวลาเล่น: 30 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เราจะได้ท่องเข้าไปในโลกแห่งภาพวาด ซึ่งในแต่ละตาผู้เล่น 1 คน จะได้รับบทบาทเป็น
              “ผู้เล่านิทาน” ส่วนคนอื่น ๆ จะเป็น “ผู้ฟัง” โดยหน้าที่ของผู้เล่านิทานคือ
              จะต้องเลือกภาพวาดจากการ์ดที่อยู่ในมือ
              1 รูป และบอกใบ้เกี่ยวกับรูปใบนั้น เพื่อให้ผู้ฟังคนอื่นๆ ทาย
              แต่มีข้อแม้ว่าต้องบอกใบ้ให้มีทั้งคนที่ทายถูกและคนที่ทายผิด
              นั่นคือ “ไม่ง่ายและยากจนเกินไป” จึงจะสามารถเก็บแต้มจากการใบ้ได้
              </br>1.เเจกการ์ดผู้เล่นคนละ 6 ใบ
              </br>2.เริ่มจากคนเเรกเป็นคนใบ้ภาพโดยเลือกจากใบไหนก็ได้ในมือที่ค่อนข้างสอดคล้องกันกับภาพ
              </br>3.ผู้เล่นคนอื่นเมื่อฟังคำใบ้เเล้ว ก็เลือกไพ่ในมือที่ใกล้เคียงกับคำใบ้มากที่สุดออกมา 1 ใบคว่ำหน้า
              </br>4.นำไพ่ที่ทุกคนเลือกเเละคว่ำหน้าไว้มาสลับรวมกัน จากนั้น เอาไปวางเปิดหน้าบนแผ่นกระดานคะเเนน
              </br>5.เมื่อไพ่เปิดเเล้วก็ทำการทายว่าภาพไหนเป็นภาพที่ถูกต้องของคนที่เป็นคนใบ้
              </br>6.จั่วการ์ดเพิ่มคนละใบ (ทุกครั้งของการเริ่มใบ้ใหม่ต้องมีการ์ดบนมือ 6 ใบ)
              </br>8.หมุนไปคนต่อไปเรื่อยๆเล่นเเบบนี้จนใครคะเเนนถึง 30 ก่อนชนะ หรือไพ่หมดกอง
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleSettles" tabindex="-1" aria-labelledby="exampleSettlesLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic144.jpg" alt="Settles">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> The Settlers of Catan </h1>
            <h2> เกมนักบุกเบิกแห่งคาธาน </h2>
            <h3> จำนวนผู้เล่น: 2-6 คน </h3>
            <h3> ระยะเวลาเล่น: 45-90 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              นักบุกเบิกแห่งคาธาน ภายในตัวเกมผู้เล่นจะได้รับหน้าที่เป็นกลุ่มผู้บุกเบิก
              ที่ต้องเข้าไปตั้งถิ่นฐานยังเมือง
              Catan แดนคนเถื่อนที่มีกองโจรเจ้าถิ่นอยู่กองหนึ่ง บนดินแดนนั้นผู้เล่นต้องแข่งกันขยายอาณาจักร
              เพิ่มพูนทรัพยากรให้ตัวเอง ขยายกองทหาร เพื่อสร้างอารยธรรมของตัวเองให้ยิ่งใหญ่ที่สุดบนคาธานให้ได้
              ที่มีการผสมผสานแนวการเล่นยอดนิยมทั้งการเจรจา ดวง และการสร้างเมือง เอาไว้ด้วยกัน
              เกมจะจบเมื่อมีคนเล่นได้แต้ม10คะแนน
              </br>1.ทอยเต๋า
              </br>2.แจกทรัพยากร
              </br> 3.เจ้าของตา (คนที่ทอยเต๋า) ทำการค้าขาย แลก ทรัพยากรกับเพื่อน
              </br>4.เจ้าของตา สร้างบ้าน ถนน เมือง หรือ ซื้อไพ่
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleArt" tabindex="-1" aria-labelledby="exampleArtLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic15.png" alt="Art">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Modern art </h1>
            <h2> เกมยอดนักประมูล </h2>
            <h3> จำนวนผู้เล่น: 3-5 คน </h3>
            <h3> ระยะเวลาเล่น: 45 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เกมนี้ผู้เล่นจะได้รับบทเป็นเจ้าของพิพิธภัณฑ์ที่จะต้องปล่อยประมูลภาพของตัวเอง
              และต้องประมูลภาพศิลปะใหม่ ๆ เข้าพิพิธภัณฑ์ เพื่อทำเงินให้ได้มากที่สุด
              คนที่มีเงินมากที่สุดจะเป็นผู้ชนะในเกมนี้
              </br>1.ในแต่ละรอบผู้เล่นจะต้องเลือกการ์ดภาพศิลปะ 1 ใบ แล้วทำตามสัญลักษณ์ของการ์ด
              </br>2.เมื่อมีการ์ดศิลปะสีเดียวกันถูกวางบนโต๊ะครบ 5 ใบ จะถือว่ารอบการประมูลจะจบลง
              </br>3.เมื่อเล่นรอบการประมูลครบ 4 รอบ จะถือว่าจบเกม
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleBoss" tabindex="-1" aria-labelledby="exampleBossLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic16.jpg" alt="Boss">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> I am the boss </h1>
            <h2> เกมอย่าซ่ากับบอส </h2>
            <h3> จำนวนผู้เล่น: 3-6 คน </h3>
            <h3> ระยะเวลาเล่น: 60 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เมื่อวงการธุรกิจที่มีโครงการมากมายที่เหล่านักลงทุนสามารถทำกำไรได้มหาศาล นักลงทุนทั้ง 6
              ตระกูลจึงจะต้องแสดงความสามารถที่ถนัดของตนในการที่จะได้รับเลือกให้ได้ร่วมทำโครงการเหล่านั้นต่อหน้าบอส
              ที่มีอำนาจในการแบ่งกำไรของธุรกิจนั้นๆ
              รวมถึงจังหวะการวางตัวและการใช้อำนาจต่อรองที่มีสามารถส่งผลให้เกมการลงทุนนี้พลิกได้ตลอด
              </br>1.ผู้เล่นสามารถเลือกได้ว่าจะทำการเปิดการประชุมโครงการในช่องที่ตัวหมากยืนอยู่
              หรือจะทำการทอยลูกเต๋า
              </br>2.เมื่อผู้เล่นเลือกทำการเปิดการประชุมโครงการ ผู้เล่นคนนั้นจะถือว่าเป็นบอสของโครงการนั้นๆ
              ที่จะต้องหาจำนวนผู้ร่วมลงทุนที่มีตัวอักษรตรงกับที่โครงการนั้นต้องการ
              </br>3.ระหว่างที่ประชุมผู้เล่นแต่ละคนสามารถใช้การ์ดอำนาจในการต่อรองได้
              </br>4.เมื่อผู้เล่นตกลงกันเสร็จสิ้นก็จะแบ่งส่วนแบ่งผลกำไรตามที่ตกลงไว้
              และนำการ์ดข้อมูลของโครงการนั้นมาปิดช่องที่ทำการตกลงกันเสร็จเรียบร้อย
              </br>เกมจะจบเมื่อทำการตกลงโครงการตั้งแต่โครงการที่ 10 ขึ้นไป
              เมื่อนำการ์ดมาปิดจะมีตัวเลขหน้าเต๋าแสดงอยู่
              ให้ผู้เล่นทำการทอยเต๋าแล้วถ้าผลของหน้าเต๋าออกตรงกับที่อยู่บนการ์ดเกมจะจบลงทันที
              ผู้เล่นที่มีเงินเยอะสุดจะเป็นผู้ชนะ
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleSheriff" tabindex="-1" aria-labelledby="exampleSheriffLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic178.png" alt="Sheriff">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Sheriff of Nottingham </h1>
            <h2> เกมนายอำเภอแห่งน็อตติงแฮม </h2>
            <h3> จำนวนผู้เล่น: 4-6 คน </h3>
            <h3> ระยะเวลาเล่น: 60 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              ผู้เล่นแต่ละคนจะเล่นเป็นพ่อค้าแม่ค้านำสินค้าเข้ามาขายในเมือง
              โดยสินค้าที่นำเข้ามานั้นจะถูกตรวจสอบโดยผู้เล่นที่เป็นผู้ตรวจการ
              ตัวเกมจะดำเนินโดยการที่ ให้ทุกคนพลัดกันเป็นพ่อค้าแม่ค้านำส่งไพ่สินค้าต่าง
              ๆส่งไปให้ผู้ตรวจการทำการตรวจสอบ
              โดยใครมีเงินมากสุดก็เป็นผู้ชนะ
              </br>1.ผู้เล่นสามารถเลือกได้ว่าจะทำการเปิดการประชุมโครงการในช่องที่ตัวหมากยืนอยู่
              หรือจะทำการทอยลูกเต๋า
              </br>2.เมื่อผู้เล่นเลือกทำการเปิดการประชุมโครงการ ผู้เล่นคนนั้นจะถือว่าเป็นบอสของโครงการนั้นๆ
              ที่จะต้องหาจำนวนผู้ร่วมลงทุนที่มีตัวอักษรตรงกับที่โครงการนั้นต้องการ
              </br>3.ระหว่างที่ประชุมผู้เล่นแต่ละคนสามารถใช้การ์ดอำนาจในการต่อรองได้
              </br>4.เมื่อผู้เล่นตกลงกันเสร็จสิ้นก็จะแบ่งส่วนแบ่งผลกำไรตามที่ตกลงไว้
              และนำการ์ดข้อมูลของโครงการนั้นมาปิดช่องที่ทำการตกลงกันเสร็จเรียบร้อย
              </br>เกมจะจบเมื่อทำการตกลงโครงการตั้งแต่โครงการที่ 10 ขึ้นไป
              เมื่อนำการ์ดมาปิดจะมีตัวเลขหน้าเต๋าแสดงอยู่
              ให้ผู้เล่นทำการทอยเต๋าแล้วถ้าผลของหน้าเต๋าออกตรงกับที่อยู่บนการ์ดเกมจะจบลงทันที
              ผู้เล่นที่มีเงินเยอะสุดจะเป็นผู้ชนะ
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Thematic Game -->
  <div class="modal fade" id="exampleSherlock" tabindex="-1" aria-labelledby="exampleSherlockLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic18.jpg" alt="Sheriff">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Sherlock Holmes: Four Investigations </h1>
            <h2> เกมเชอร์ล็อกโฮล์มส์กับรหัสคดีทั้งสี่ </h2>
            <h3> จำนวนผู้เล่น: 1 คน </h3>
            <h3> ระยะเวลาเล่น: 30 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              ไขปริศนาของรหัสคดีทั้ง 4 โดยการสวมบทบาทเป็นสุดยอดนักสืบ “เชอร์ล็อค โฮล์มส์” หรือ ผู้ช่วย “เจมส์
              วัตสัน”
              ค้นหาสมบัติล้ำค่าที่ถูกขโมยไปจากพิธภัณฑ์ในกรุงลอนดอน
              ตามหาความจริงของชายปริศนาที่ถูกทรมานจนความจำเสื่อม
              หาตัวผู้ร้ายที่สังหารหมอดูที่น่าสงสาร ตามหาสัตว์เลี้ยงของคุณนายฮัดสันที่หายไปอย่างลึกลับ
              และรวบรวมชิ้นส่วนจิ๊กซอว์ของความจริงเข้าด้วยกัน
              </br>เปิดหนังสือตั้งแต่หน้าแรก อ่านและทำตามที่คู่มือการสืบสวนบอก
              จากนั้นในแต่ละหน้าที่เราอ่านไปจะสร้างตัวเลือกให้เรามากมายให้เราได้เลือก
              บางครั้งก็จะมาในรูปแบบของข้อความ บ้างก็มาในรูปแบบของภาพ
              เพื่อจะบอกตัวเลขของช่องถัดไปที่เราจะต้องอ่านเพื่อเชื่อมเรื่องราวทั้งหมดเข้าด้วยกัน
              </br>เกมมีจุดจบที่หลากหลายขึ้นกับการตัดสินใจของเราในแต่ละหน้าที่จะส่งผลไปยังจุดจบที่แตกต่างกัน
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleWinter" tabindex="-1" aria-labelledby="exampleWinterLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic1999.jpg" alt="Winter">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Dead of Winter </h1>
            <h2> เกมเหมันต์มรณะ </h2>
            <h3> จำนวนผู้เล่น: 2-5 คน </h3>
            <h3> ระยะเวลาเล่น: 60-12- นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              ผู้เล่นจะได้ควบคุมตัวละครผู้รอดชีวิต 1 กลุ่มที่อยู่ในอาณานิคมเดียวกัน
              และต้องช่วยเหลือกันจากมหันตภัยร้ายจาก
              เชื้อโรคที่ทำให้คนกลายเป็นซอมบี้ นอกจากจะต้องระวังไม่ให้คนของคุณตายหรือติดเชื้อ
              ก็ยังต้องช่วยกันทำภารกิจตามที่กำหนด
              รวมถึงระบบตัวเลือกการตัดสินใจที่แสนยาก ที่จะส่งผลกับทุกๆคนในอาณานิคมแห่งนี้เล่นได้
              </br>เกมจะเล่นเป็นรอบ โดยแต่ละรอบจะมี 2 เฟส
              </br>เฟสที่ 1 เทิร์นของผู้เล่น
              </br>- ผู้เล่นแต่ละคนทอยลูกเต๋า โดยลูกเต๋าจะมีจำนวนเท่ากับตัวละครในกลุ่มของเรา +1 ลูก
              </br>- ผู้เล่นคนทางจะจั่วการ์ดทางเลือกสำคัญ 1
              ใบและเมื่อใดก็ตามที่ผู้เล่นเจ้าของเทิร์นทำตรงตามเงื่อนไขที่เขียนอยู่บนการ์ด
              จะถือว่าการ์ดนั้นส่งผลกับผู้เล่นนั้นทันที
              </br>เฟสที่ 2 เฟสของอาณานิคม
              </br>- จ่ายอาหาร
              </br>- ตรวจสอบขยะ
              </br>– ที่อาณานิคม เพิ่มซอมบี้ 1 ตัว ต่อทุกๆ 2 ตัวละครที่อยู่ในอาณานิคม
              </br>- ตรวจสอบภารกิจหลัก ถ้าเงื่อนไขตรงกับการ์ดภารกิจหลักจะถือว่าจบเกมทันที
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleDetective" tabindex="-1" aria-labelledby="exampleDetectiveLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic20000.jpg" alt="Detective">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Detective: A Modern Crime Board Game </h1>
            <h2> เกมนักสืบร่วมไขคดี </h2>
            <h3> จำนวนผู้เล่น: 1-4 คน </h3>
            <h3> ระยะเวลาเล่น: 120-180 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เป็นเกมที่จะให้คุณไขตดีด้วยกันทั้งหมด 5 คดี โดยการสืบค้นในเกมนี้จะให้คุณเปิดฐานข้อมูลผ่านเว็บ
              antaresdatabase
              ที่เป็นคลังข้อมูลของเกมที่สร้างขึ้นสำหรับเกมนี้
              รวมไปถึงเราต้องใช้ข้อมูลจากโลกจริงเพื่อเป็นการเชื่อมโยงข้อมูลเข้ามาด้วยกัน
              ผู้เล่นจะได้รับบทบาทเป็นนักสืบสวนที่มีความสามารถเฉพาะตัว และช่วยกันระดมสมอง ไขคดี
              ซึ่งแต่ละคดีจะมีความยากและต้องอาศัยความร่วมมือกันในการค้นหาคำตอบ
              </br>1.ในเกมเราจะได้ไปไปยังสถานที่ต่างๆ ซึ่งการเดินทางนั้นต้องใช้เวลาทั้งสิ้น
              ตัวเกมจะกำหนดเวลาจบเอาไว้ เช่น 7 วันซึ่งหมายความว่าเราจะมีเวลาแค่ 7 รอบเท่านั้นๆ 1 วันต่อ 1 รอบ
              </br>2.เดินทางไปยังสถานที่ต่างๆอ่านข้อมูล และสืบหาเบาะแสและจดบันทึก
              เมื่อไปถึงสถานที่แล้วเราจะหยิบการ์ดสถานที่นั้นมา แล้วก็จะมีตัวเลือกให้เราเลือกอีก
              </br>3.ในช่วงสุดท้ายของเกมจะมีการตอบคำถามซึ่งจะเอาข้อมูลที่มีทั้งหมดนั้นมาตอบซึ่งจะต้องตอบให้ผ่านเพื่อที่จะไปยังด่านต่อไปหากเราสามารถตอบได้ผ่าน
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleFounders" tabindex="-1" aria-labelledby="exampleFoundersLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic2111.jpg" alt="Founders">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Founders of Gloomheaven </h1>
            <h2> เกมนักก่อตั้งแห่งเมืองกูมแฮฟเวิน </h2>
            <h3> จำนวนผู้เล่น: 1-4 คน </h3>
            <h3> ระยะเวลาเล่น: 90-120 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เกมยูโรระดับกลางหนักที่จะพาไปสู่จุดกำเนิดของเมือง Gloomheaven
              และรับบทเป็นเผ่าที่แตกต่างกันที่จะมาช่วยกันสร้างเมืองแห่งนี้จากพื้นดินรกร้าง
              </br>แกนหลักของเกมนี้คือการ ‘เติมเต็ม supply chain’ สิ่งปลูกสร้างสำคัญในเมืองจะถูกเอาไปวางไว้บนแผนที่
              ซึ่งไทล์ตึกสิ่งก่อสร้างนี้ก็จะต้องการของต่างๆกันเพื่อให้ตัวตึกสร้างเสร็จสมบูรณ์ เช่น หนึ่งในนั้นเป็น
              ‘อาวุธ’
              ถ้าผู้เล่นที่มีโรงผลิตดาบต่อทางเดินมาถึงไทล์นี้ได้จะได้รับแต้มจำนวนหนึ่ง แต่ว่าตัวโรงงาน ‘อาวุธ’
              เองก็ต้องการสินค้าจาก
              ‘โรงตีเหล็ก’ และ ‘หนังสัตว์’ ในขณะที่ โรงฟอกหนังเองก็ต้องการสินค้าจาก ‘โรงเลื้อยไม้’ และ ‘ปศุสัตว์’
              โดยที่ทั้งหมดนี้ไม่จำเป็นจะต้องมาจากของผู้เล่นคนเดียวกัน
              </br>เกมนี้จะมีการจั่วตึกไว้ให้เราโหวตครั้งล่ะสามตึก ผู้เล่นก็จะกำสัญลักษณ์ของตึกที่อยากได้
              พร้อมกับโทเคนเสียงโหวตแล้วเปิดพร้อมกัน
              ตึกที่ได้รับเสียงโหวตเยอะสุดจะถูกเอาไปวางไว้บนกระดานโดยผู้เล่นที่ส่งคะแนนโหวตเยอะสุด
              การโหวตตึกนี้ถือเป็นจุดสำคัญที่สุดของเกมนี้
              เพราะว่ามันคือตัวกำหนดว่า สินค้าแบบไหนจะขายได้ แล้วใครจะได้รับแต้มบ้าง
              แถมทำเลการวางก็ยังมีผลเพราะมันจะเป็นการกั๊กให้ผู้เล่นบางคนส่งของไม่ได้ด้วย
              </br>โดยเกมนี้จะจบลงเมื่อผู้เล่นทำการสร้างตึกพิเศษครบ 6 ตึก
              </br>จำนวนผู้เล่น: 1-4 คน เวลา: 90-120 นาที
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="examplePandemic" tabindex="-1" aria-labelledby="examplePandemicLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic222.png" alt="Pandemic">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Pandemic Legacy </h1>
            <h2> เกมไล่ล่ากำราบโรคร้าย </h2>
            <h3> จำนวนผู้เล่น: 2-4 คน </h3>
            <h3> ระยะเวลาเล่น: 45 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เกมยูโรระดับกลางหนักที่จะพาไปสู่จุดกำเนิดของเมือง Gloomheaven
              และรับบทเป็นเผ่าที่แตกต่างกันที่จะมาช่วยกันสร้างเมืองแห่งนี้จากพื้นดินรกร้าง
              เมื่อเชื้อโรคร้ายกลายพันธ์เกิดการแพร่กระจายอย่างรุนแรงขึ้นพร้อมกันทั่วทั้งโลก
              คุณและกลุ่มของเพื่อนร่วมอุดมการของคุณ
              รวมตัวกันเป็นทีมของผู้เชี่ยวชาญที่ได้รับการสนับสนุนจากรัฐบาลของประเทศต่างๆ
              โดยมีจุดมุ่งหมายร่วมกันเพียงอย่างเดียว คือการที่จะต้องป้องกันและแก้ไขการแพร่กระจายของเชื่อโรคนี้ให้ได้
              ก่อนที่มันจะลามไปจนกระทั่งไม่สามารถหยุดยั้งได้อีกต่อไป
              </br>1.ผู้เล่นสามารถเดินทางจากเมืองหนึ่งไปอีกเมืองหนึ่งได้ทั้งหมด 4 วิธี โดยแต่ละวิธีจะถือว่าเป็น 1
              แอ็กชั่น
              </br>2.ถ้าผู้เล่นมีการ์ดของเมืองที่ตนเองกำลังยืนอยู่
              ผู้เล่นสามารถที่จะเลือกสร้างสถานีวิจัยที่เมืองนั้นได้
              </br>3.ในกรณีที่ผู้เล่นเลือกที่จะรักษาโรค ผู้เล่นจะหยิบเบี้ยเชื้อโรคออกไปจากเมืองที่ยืนอยู่ 1 ชิ้น
              แต่ถ้าโรคนั้นถูกค้นพบยารักษาเรียบร้อยแล้ว
              ให้ผู้เล่นสามารถดึงเอาเชื้อโรคชนิดนั้นออกไปได้ทั้งหมดจากเมืองที่รักษา
              </br>4.ผู้เล่นที่มีการ์ดเมืองที่ตนเองกำลังยืนอยู่
              สามารถนำการ์ดนั้นส่งให้ผู้เล่นคนอื่นในเมืองเดียวกันได้
              หรือผู้เล่นสามารถขอการ์ดเมืองที่ตนเองกำลังยืนอยู่จากผู้เล่นคนอื่นที่ยืนอยู่ในเมืองเดียวกันได้
              </br>5.ผู้เล่นจะสามารถทำการวิจัยยาได้เมื่ออยู่ในเมืองที่มีสถานีวิจัยอยู่เท่านั้น
              โดยผู้เล่นจะต้องมีการ์ดเมืองอยู่ 5 ใบ ที่เป็นสีเดียวกันหมด ก็จะสามารถทำยาเพื่อรักษาโรคของสีนั้นๆได้
              </br>เกมจะจบเมื่อสามารถค้นพบยารักษาโรคได้ครบทั้ง 4 ชนิด
              (ผู้เล่นไม่จำเป็นจะต้องกำจัดเชื้อโรคให้สูญพันธ์ เกมจะจบทันที ที่สามารถวิจัยยาได้ครบ)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleMansions" tabindex="-1" aria-labelledby="exampleMansionsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic23.jpg" alt="Mansions">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Mansions of Madness </h1>
            <h2> เกมคฤหาสน์วิปลาส </h2>
            <h3> จำนวนผู้เล่น: 2-5 คน </h3>
            <h3> ระยะเวลาเล่น: 120-180 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              ในย่านชนบทของรัฐ Massachusetts ของสหรัฐอเมริกาฯ ปรากฎแมนชั่นหลังหนึ่งที่ตัดขาดจากโลกภายนอก
              เงื่อนงำเบาะแสทุกอย่างที่คุณพบ พวกมันพาคุณมาที่นี่
              นี่คือที่ๆคุณจะได้พบคำตอบทั้งหลายที่คุณเฝ้าตามหามาโดยตลอด
              ปีศาจ ความชั่วร้าย ชอนไชไปทั่วกำแพง ตัวแมนชั่นกำลังจ้องมองคุณเยี่ยงศัตรู
              แม้นความหวาดกลัวจะแล่นลึกถึงจิตวิญญาณแต่คุณก็ก้าวเดินต่อไป
              </br>เกมนี้บังคับให้ต้องเล่นควบคู่กับ Application เท่านั้น เพื่อให้มีคนคอยเล่าเนื้อเรื่องให้ฟัง
              </br>1.เลือกตัวละครที่จะเล่นและเริ่มต้นการสำรวจ
              </br>2.เมื่อเกิดเหตุการณ์ต่างๆขึ้น ระบบเกมจะให้เราใช้ลูกเต๋าเป็นตัววัดว่าเราผ่านพ้นมันได้สำเร็จหรือไม่
              </br>3.ยิ่งเรื่องราวเปิดเผย เหล่าปีศาจที่น่ากลัวยิ่งขึ้นจะยิ่งปรากฎตัว
              ต้องไขปริศนาและผ่าความกลัวไปให้ได้
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Abstract Game -->
  <div class="modal fade" id="exampleSplendor" tabindex="-1" aria-labelledby="exampleSplendor" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/Splendor4.jpg" alt="Splendor">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Splendor </h1>
            <h2> เกมค้าเพชร </h2>
            <h3> จำนวนผู้เล่น: 2-4 คน </h3>
            <h3> ระยะเวลาเล่น: 30 นาที </h3>
            <!-- ref. https://siamboardgames.com/product/splendor/ -->
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เกมนี้จะผลัดเทิร์นกันเล่นไปทีละคน ในเทิร์นของตนผู้เล่นสามารถเลือกทำได้ 1 อย่างจาก 3 อย่างที่มี ได้แก่
              <br><b>หยิบเพชรจากกองกลาง</b>
              <br>วิธีการหยิบเพชรจะมี 2 วิธี
              <br>1) หยิบ 3 อัน ที่ทั้ง 3 อันมีสีแตกต่างกัน
              <br>2) หยิบ 2 อัน ที่มีเหมือนกัน วิธีนี้จะไม่สามารถทำได้ถ้าสีที่จะหยิบมีจำนวน ไม่ถึง 4 อัน
              <br><b>จองการ์ด</b>
              <br>เลือกที่หงายที่อยู่ 1 ใบ และหยิบทอง 1 อัน ผู้เล่นจะไม่สามารถจองการ์ดได้เกิน 3 ใบ
              <br><b>ซื้อการ์ด</b>
              <br>เลือกการ์ดที่หงายอยู่ 1 ใบ จ่ายเพชรคืนกองกลางเท่ากับจำนวนที่อยู่มุมซ้ายล่างของการ์ด
              และตามด้วยการนำบ้านมาวางขายในตลาดเพื่อทำกำไรให้มากที่สุด
              <br>คนที่ได้เงินกลับไปมากที่สุดนั้นจะเป็นผู้ชนะในแต่ละเกมไป
              เมื่อผู้เล่นคนใดคนหนึ่งทำคะแนนได้ถึง 15 คะแนน ให้เล่นรอบนั้นเป็นรอบสุดท้าย
              เมื่อจบให้ผู้เล่นคนที่มีคะแนนเยอะสุดเป็นผู้ชนะ
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleCenturySpiceRoad" tabindex="-1" aria-labelledby="exampleCenturySpiceRoad"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/402_Century-Spice-Road.jpg" alt="CenturySpiceRoad">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Century Spice Road </h1>
            <h2> เส้นทางสายเครื่องเทศ </h2>
            <h3> จำนวนผู้เล่น: 2-5 คน </h3>
            <h3> ระยะเวลาเล่น: 30-45 นาที </h3>
            <br>
            <!-- ref. https://landmarkboardgame.com/product/century-spice-road/ -->
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เริ่มต้นผู้เล่นจะมีเครื่องเทศจำนวนหนึ่ง และการ์ดค้าขาย (สีม่วง) ในมือสองใบ
              ซึ่งในหนึ่งตาสามารถเลือกทำอย่างใดอย่างหนึ่งระหว่าง
              <br>1. ใช้การ์ดค้าขาย (สีม่วง)
              <br>เริ่มต้นผู้เล่นทุกคนจะมีการ์ดค้าขายสองใบคือ การ์ดหยิบ ขมิ้นสองอัน กับ อัพเกรด สองครั้ง
              <br>2. เลือกหยิบการ์ดค้าขาย
              <br>การ์ดค้าขายใบซ้ายสุดหยิบได้ทันที ส่วนการ์ดลำดับอื่น ๆ ต้องวางเครื่องเทศไว้ใบละอัน เป็นค้าผ่านทาง
              <br>3. พักผ่อน
              <br>หยิบการ์ดที่ใช้ไปแล้วทั้งหมดขึ้นมาเตรียมใช้งานอีกครั้ง
              <br>4. เคลมการ์ดเมือง (สีส้ม)
              <br>โดยผู้เล่นต้องมีเครื่องเทศตามจำนวนที่เมืองนั้นต้องการ ถ้าเครมการ์ดเมืองไปแล้ว
              ให้เลื่อนเปิดเมืองขึ้นมาใหม่ให้ครบ 5 เมือง แล้วเลื่อนการ์ดมาทางซ้ายตามลำดับ
              <br>เกมจบเมื่อมีผู้เล่นเครมการ์ดเมืองได้ครบ 5 เมืองก่อน หรือ 6 เมือง กรณีที่เล่น 2-3 คน
              ถ้าผู้เล่นที่เครมเมืองไม่ใช่ผู้เล่นที่เริ่มเป็นสุดท้าย ผู้เล่นที่เหลือสามารถเล่นได้อีก 1
              ครั้งเพื่อความเท่าเทียมกัน
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleAzul" tabindex="-1" aria-labelledby="exampleAzul" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/azul.jpg" alt="Azul">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Azul </h1>
            <h3> จำนวนผู้เล่น: 2-4 คน </h3>
            <h3> ระยะเวลาเล่น: 30-45 นาที </h3>
            <h4> วิธีการเล่นเกม </h4>
            <!-- ref. https://shopee.co.th/Azul-(%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2%E0%B9%84%E0%B8%97%E0%B8%A2)-Board-Game-i.24723279.1576735639 -->
            <p>
              <br>เนื้อเรื่องของเกม Azul เล่าถึงราชาของเมืองๆหนึงที่ออกท่องเที่ยวและได้พบกับพื้นกระเบื้องที่งดงาม
              เมื่อราชากลับมายังเมืองของตัวเองแล้วจึงเรียกช่างกระเบื่องทั้งหลายมา
              เพื่อต่อกระเบื้องให้งดงามอยากที่ราชาต้องการ
              และแน่นอนว่าผู้เล่นจะได้เป็นช่างกระเบื้องที่ต้องต่อกระเบื้องให้ราชาประทับใจ เป็นเกม Abstract ที่สนุก
              เล่นง่าย สวยงาม อุปกรณ์ของเกมก็ดีมากๆด้วยครับ
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleDaVinciCode" tabindex="-1" aria-labelledby="exampleDaVinciCode" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/Davinci.jpg" alt="DaVinciCode">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Da Vinci Code </h1>
            <h2> รหัสลับดาวินซี </h2>
            <h3> จำนวนผู้เล่น: 2-4 คน </h3>
            <h3> ระยะเวลาเล่น: 5-15 นาที </h3>
            <br>
            <!-- ref. https://shopee.co.th/Azul-(%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2%E0%B9%84%E0%B8%97%E0%B8%A2)-Board-Game-i.24723279.1576735639 -->
            <h4> วิธีการเล่นเกม </h4>
            <p>
              1. ผู้เล่นคนแรกจะสุ่มหยิบเลขจากกองกลาง ที่คว่ำไว้หนึ่งเลขมาเรียง ทำให้ตัวเลขในมือจะมี 5 ชิ้น
              จากนั้นเริ่มทายเลขของอีกฝ่าย โดยชี้ไปยังแท่งพลาสติกแล้วทายเลข เช่น สีดำเลข 5 หรือ สีดำขีด
              <br>
              <br>2. หากทายถูก ฝ่ายที่ถูกทาย จะต้องเปิดเลขที่ทายถูกของตนเองออกให้ทุกคนเห็น และผู้เล่นสามารถทายต่อ
              หรือไม่ทายต่อก็ได้
              <br>
              <br>3. หากทายไม่ถูก ผู้เล่นจะต้องเปิดเลขของตนเองให้ทุกคนเห็นหนึ่งเลข เป็นอันจบเทิร์น
              <br>
              <br>4. ผู้เล่นคนต่อไป สุ่มหยิบเลขจากกองกลาง หนึ่งเลขมาเรียง และเริ่มทาย
              <br>
              <br>เกมจบก็ต่อเมื่อ ผู้เล่นแต่ละคนถูกทายเลขจนหมด เป็นอันแพ้
              และผู้เล่นที่ยังเหลือคนสุดท้ายที่ไม่ถูกทายเลขจนหมด จะเป็นผู้ชนะในเกมนี้
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="examplePylosMini" tabindex="-1" aria-labelledby="examplePylosMini" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/405_Pylos-Mini.jpg" alt="PylosMini">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Pylos Mini </h1>
            <h3> จำนวนผู้เล่น: 2 คน </h3>
            <h3> ระยะเวลาเล่น: 15-20 นาที </h3>
            <br>
            <!-- ref. https://shopee.co.th/Azul-(%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2%E0%B9%84%E0%B8%97%E0%B8%A2)-Board-Game-i.24723279.1576735639 -->
            <h4> วิธีการเล่นเกม </h4>
            <p>
              ผู้เล่นแต่ละคนเริ่มต้นด้วย 15 ลูก ผู้เล่นผลัดกันหยิบชิ้นส่วนจากกองสำรองและวางไว้บนกระดานเกม
              เมื่อวางสี่ชิ้นติดกันในสี่เหลี่ยมจัตุรัสสามารถวางอีก1ชิ้นที่ด้านบนของสี่เหลี่ยมได้
              หากสี่เหลี่ยมมีสีเดียวกันทั้งหมดผู้เล่นที่มีสีนั้นอาจนำชิ้นส่วนของตัวเองหนึ่งหรือสองชิ้นออกจากกระดาน
              และ ผู้เล่นจะชนะหากพวกเขาวางหมากสุดท้ายในระดับที่ 4 หรือหากผู้เล่นคนอื่นหมดชิ้นที่จะเล่น
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleBazaar" tabindex="-1" aria-labelledby="exampleBazaar" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/Bazaar.jpg" alt="Bazaar">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Bazaar </h1>
            <h3> จำนวนผู้เล่น: 2-6 คน </h3>
            <h3> ระยะเวลาเล่น: 30-45 นาที </h3>
            <br>
            <!-- ref. https://shopee.co.th/Azul-(%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2%E0%B9%84%E0%B8%97%E0%B8%A2)-Board-Game-i.24723279.1576735639 -->
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เกมมีการซื้อขายอย่างชำนาญและการซื้อขายซ้ำ
              ผู้เล่นแต่ละคนพยายามที่จะได้รับชุดค่าผสมที่เหมาะสมของหินสีจากธนาคารเพื่อซื้อสินค้าที่แสดงในบาซาร์มูลค่าของสินค้าต่างๆจะพิจารณาจากจำนวนหินที่ผู้ซื้อถือหลังจากการทำธุรกรรมของเขา
              การซื้อขายอยู่ภายใต้อัตราปัจจุบันที่โพสต์ใน Exchange
              มื่อบาซ่าปิดเกมจะจบลงและผู้เล่นที่มีคะแนนสูงสุดจะชนะ
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Strategy Game -->
  <div class="modal fade" id="exampleArchitectOfTheWestKingdom" tabindex="-1"
    aria-labelledby="exampleArchitectOfTheWestKingdom" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/ARCHITECTS1.jpg" alt="ArchitectOfTheWestKingdom">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Architects of The West Kingdom </h1>
            <h2> สถาปนิก แห่งนครตะวันตก </h2>
            <h3> จำนวนผู้เล่น: 1-5 คน </h3>
            <h3> ระยะเวลาเล่น: 60-80 นาที </h3>
            <br>
            <!-- ref. https://www.boardgameacademia.com/product/1253/architect-of-the-west-kingdom-%E0%B8%AA%E0%B8%96%E0%B8%B2%E0%B8%9B%E0%B8%99%E0%B8%B4%E0%B8%81-%E0%B9%81%E0%B8%AB%E0%B9%88%E0%B8%87%E0%B8%99%E0%B8%84%E0%B8%A3%E0%B8%95%E0%B8%B0%E0%B8%A7%E0%B8%B1%E0%B8%99%E0%B8%95%E0%B8%81 -->
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เมื่อเริ่มเกมส์ผู้เล่นจะได้เลือกตัวละคร โดยแบ่งเป็น 2 สาย
              <br> - คนดี แนวทางของสายนี้จะต้องเอาแรงงานไปหาไม้
              เพื่อเอาไปบริจาคให้กับท้องพระคลังจะได้หินอ่อนซึ่งเอาไว้แลกเป็นแต้มได้ หรือจะเอาไปเสียภาษีให้กับรัฐ
              <br> - คนชั่ว แนวทางของสายนี้ไม่ว่าจะเป็นการจับแรงงานที่คนดีใช้เอาไปขายเป็นแรงงานทาส ขโมยภาษีของรัฐ
              ใช้แรงงานไปเข้าตลาดมืดเพื่อซื้อขายของเถื่อน
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="examplePowerGrid" tabindex="-1" aria-labelledby="examplePowerGrid" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/502_Power-Grid.jpg" alt="PowerGrid">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Power Grid </h1>
            <h2> เกมโรงไฟฟ้า </h2>
            <h3> จำนวนผู้เล่น: 2-6 คน </h3>
            <h3> ระยะเวลาเล่น: 120+ นาที </h3>
            <!-- ref. https://siamboardgames.com/product/power-grid/ -->
            <p>
              <br> เป้าหมายในเกมโรงไฟฟ้า คือผู้เล่นทุกคนจะได้รับเงินทุนมาก้อนหนึ่ง มาสร้างสัมปทานโรงไฟฟ้า
              เพื่อที่จะจ่ายพลังงานไฟฟ้าให้กับเมืองให้ได้มากที่สุด
              เราจะต้องสร้างเครือข่ายโรงงานของเราให้เกิดกำไรจากการเก็บค่าไฟ ซึ่งนอกเหนือจากการสร้างเครือข่ายแล้ว
              ผู้เล่นจะต้องทำการแข่งกันประมูลเพื่อแย่งเทคโนโลยีของการสร้างโรงไฟฟ้าทั้ง 4 ประเภท ได้แก่
              โรงไฟฟ้าผลิตพลังงานจากถ่านหิน น้ำมัน ของเสีย และพลังงานนิวเคลียร์
              จากนั้นจึงทำการซื้อวัตถุดิบที่ต้องใช้กับโรงงานของตนเอง ยิ่งวัตถุดิบไหนที่คนใช้เยอะราคาก็จะยิ่งสูง
              และการชิงจังหวะในการเริ่มก่อตั้งเครือข่ายในทำเลที่เหมาะสมที่สุดเพื่อชัยชนะ
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="example7Wonders" tabindex="-1" aria-labelledby="example7Wonders" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/504_7-Wonders.jpg" alt="7Wonders">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> 7 Wonder </h1>
            <h2> 7 สิ่งมหัศจรรย์ </h2>
            <h3> จำนวนผู้เล่น: 2-7 คน </h3>
            <h3> ระยะเวลาเล่น: 30 นาที </h3>
            <!-- ref. https://siamboardgames.com/product/7-wonders/ -->
            <p>
              <br> สวมบทบาทผู้ปกครองอารยธรรมมหาอํานาจทั้งเจ็ดในประวัติศาสตร์โลก ใช้ทรัพยากรที่มีอย่างชาญฉลาด
              เพื่อพัฒนาอารยธรรมให้เจริญรุ่งเรือง
              สานสัมพันธไมตรีด้านการค้าพร้อมทั้งตระเตรียมไพร่พละกําลังทหารเพื่อคานอํานาจกับอารยธรรมอื่น ๆ
              ทิ้งร่องรอยของอารยธรรมไว้ให้
              <br> หลงเหลืออยู่ในประวัติศาสตร์ โดยการสร้างสิ่งปลูกสร้างขนาดมหึมาที่จะยังคงตั้งตระหง่านอยู่คู่กาลเวลา
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleTerraformingMars" tabindex="-1" aria-labelledby="exampleTerraformingMars"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/mar.jpg" alt="TerraformingMars">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Terraforming Mars </h1>
            <h2> พลิกพิภพดาวอังคาร </h2>
            <h3> จำนวนผู้เล่น: 1-5 คน </h3>
            <h3> ระยะเวลาเล่น: 120 นาที </h3>
            <!-- ref. https://siamboardgames.com/product/7-wonders/ -->
            <p>
              <br> ในยุคปี 2400 เหล่ามนุษยชาติมีการริเริ่มที่จะพัฒนาปรับปรุงพื้นผิวดาวอังคาร
              เพื่อดำเนินโครงการขนาดใหญ่หลายๆอย่าง จากการใช้ความรู้วิทยาศาสตร์ที่เราได้ศึกษากันมาตลอด
              เพื่อให้เกิดลักษณะของสิ่งแวดล้อมที่มวลมนุษย์คุ้นเคยเพื่อการเป็นอยู่
              ทุกๆบริษัทจะร่วมมือกันพัฒนาในส่วนที่ตัวเองรับผิดชอบ
              แต่ต้องแข่งขันกันเพื่อเก็บคะแนนที่เป็นเสมือนรางวัลแสดงถึงความยิ่งใหญ่ขององค์กรของเรา
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleStoneAge" tabindex="-1" aria-labelledby="exampleStoneAge" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/503_stone age.jpg" alt="StoneAge">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Stone Age </h1>
            <h2> ย้อนเวลา พาบุกยุคหิน </h2>
            <h3> จำนวนผู้เล่น: 2-4 คน </h3>
            <h3> ระยะเวลาเล่น: 60-90 นาที </h3>
            <!-- ref. https://siamboardgames.com/product/terraforming-mars/ -->
            <p>
              <br>
              เรารับบทเป็นผุ้นำของชาวบ้านในยุคหินที่จะต้องพัฒนาหมู่บ้านของเราให้เจริญรุ่งเรืองมากกว่าหมู่บ้านอื่นๆ
              ซึ่งตัดสินจากแต้มที่เราทำได้ โดยกลไกการดำเนินเกมนั้น เราจะต้องส่งคนงานไปทำงานในจุดต่างๆ เช่น
              หากเราต้องการไม้เราต้องส่งคนงานไป ช่องเก็บไม้ โดยช่องเหล่านี้จะมีจำกัด
              หากเต็มแล้วคนอื่นจะไม่สามารถลงเพิ่มได้ ทำให้ลำดับการเล่น มีผลมากพอสมควร โดย คนงาน 1 คน
              จะทำให้ทอยเต๋าเพื่อเก็บทรัพยากรได้ 1 ลูก โดย ทรัพยากรแต่ละชนิดจะต้องการผลรวมบนหน้าเต๋าไม่เท่ากัน
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleScythe" tabindex="-1" aria-labelledby="exampleScythe" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/scythe.jpg" alt="Scythe">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Scythe </h1>
            <h3> จำนวนผู้เล่น: 1-5 คน </h3>
            <h3> ระยะเวลาเล่น: 90-115 นาที </h3>
            <!-- ref. https://cafedtoy.wordpress.com/2015/12/27/scythe-2016/ -->
            <p>
              <br> ใน Scythe ผู้เล่นจะเป็นผู้นำกองกำลังที่ตกอับ และต้องการที่จะฟื้นฟู เกียรติยศ
              ผลักดันให้ตัวเองเป็นผู้ปกครองยุโรปตะวันออก ต้องทำสงครามยึดพื้นที่ เกณฑ์ทหาร เก็บเกี่ยวทรัพยากร
              สร้างประชากร สิ่งปลูกสร้าง รวมไปถึงการใช้หุ่นจักรกลขนาดใหญ่ ในการเคลื่อนย้ายกำลังพล
              <br> การเล่น Scythe เราจะได้เลือกฐานที่ตั้ง เก็บเกี่ยวทรัพยากร บริหารกองกำลัง ทำสงคราม
              การอัพเกรดความสามารถ และการบริหารเงิน เราจะรับบทเป็นผู้นำที่มี ประชากร และหุ่นจักรกลในอาณาจักรของตนเอง
              และแน่นอนว่าผู้นำแต่ละคนที่เราเลือกนั้นจะมีความสามารถเฉพาะตัว
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/slick.min.js"></script>
  <script>
    $('.carousel-view').slick({
      infinite: false,
      slidesToShow: 4,
      slidesToScroll: 1
    });
  </script>

  <!-- ฟังก์ชัน เลือกตัวที่เหมือนกับตัวอักษร-->
  <script>

    /* show pop up */
    const listModals = [
      "exampleKitten", "exampleModal", "exampleAvalon", "exampleCoup", "exampleSalem", "exampleBang",
      "exampleForSale", "exampleDixit", "exampleSettles", "exampleArt", "exampleBoss", "exampleSheriff",
      "exampleSherlock", "exampleWinter", "exampleDetective", "exampleFounders", "examplePandemic", "exampleMansions"
    ]
    listModals.forEach(modal => {
      let handler = document.getElementById(modal);

      handler.addEventListener('shown.bs.modal')
    })

    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    }

    // $(function () {
    //   $('[data-toggle="tooltip"]').tooltip()
    // })
  </script>

  <!-- <script src="js/popper.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/302b227f7c.js" crossorigin="anonymous"></script>



</body>

</html>