{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
<title>BoardGame</title>
<style>
        body, html {
        height: 100%;
        margin: 0;
      }
      /* ส่วนของกรอบ */
      .rcorners {
        margin: 20px; /* เว้นช่องว่างระหว่างช่องคำถาม */
        border-radius: 50px;
        background: #017c74ef; /* ทำให้สีโปร่งใสใช้สี rgba เช่น background: rgba(204, 204, 204, 0.5); */
        padding: 50px; 
        width: 700px;
        height: 90px;
      }
      .r2corners{
        margin: 20px; /* เว้นช่องว่างระหว่างช่องคำถาม */
        border-radius: 50px;
        background: #017c74ef; /* ทำให้สีโปร่งใสใช้สี rgba เช่น background: rgba(204, 204, 204, 0.5); */
        padding: 50px; 
        width: 700px;
        height: 120px;
      }
      .r3corners{
        margin: 20px; /* เว้นช่องว่างระหว่างช่องคำถาม */
        border-radius: 50px;
        background: #017c74ef; /* ทำให้สีโปร่งใสใช้สี rgba เช่น background: rgba(204, 204, 204, 0.5); */
        padding: 50px; 
        width: 700px;
        height: 400px;
      }
      .bg { /* ทำให้ภาพ background เต็มจอได้ขณะเปิด Django(ตอน Run Server) */
        background-image: url("/static/img/1563328623_PbMAjX1.gif"); /* ต้องเรียกใช้ {% load static %} ต้องสร้างไฟล์ static กับ img เก็บรูปภาพ 
        ส่วนของ settings.py ต้องเพิ่ม STATICFILES_DIRS = ( os.path.join(BASE_DIR, 'static'),) */
        height: 100%;
        width: 100%;
        position: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      div.scorl{
        margin: auto;
        height: 80%;
        width: 60%;
        overflow: auto; /* เป็นส่วนทำให้มี scorllbar */
      }
      h1{ /* ปรับตัวหนังสือ */
        text-align: center;
        color: #fff;
        font-family: 'Kanit', sans-serif;
      }
/*------ส่วนของปุ่มตัวเลือก (Radio Buttons)---------*/
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}
/*----------------------------------------------*/
/*--------ส่วนของปุ่ม Submit-----------------------*/
.button {
  border: none;
  color: #ffffff00;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
}

.button1 {
  background-color: #bbe65875; 
  color: rgb(255, 255, 255); 
  border: 2px solid #3f833f;
}

.button1:hover {
  background-color: #77ce7a;
  color: rgb(0, 0, 0);
}

.button2 {
  background-color: #e9767675; 
  color: rgb(255, 255, 255); 
  border: 2px solid #881212;
}

.button2:hover {
  background-color: #bb4646;
  color:  rgb(0, 0, 0);
}
/*----------------------------------------------*/
</style>
</head>


<body>
    <div class="bg">        
      <h1>วันนี้เล่นบอร์ดเกมประเภทไหนดี?</h1>
      <div class="scorl">
    <form action="QStart" method="POST">
      {% csrf_token %}
      <!-- *******คำถาม1********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">1.คุณเป็นเพศอะไร?
      <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
      <label class="container" style="margin-left: 50px; margin-right: 50px;">ผู้ชาย
          <input type="radio" name="gender" value="male">
          <span class="checkmark"></span>
      </label>
      <label class="container" style="margin-left: 50px; margin-right: 50px;">ผู้หญิง
        <input type="radio" name="gender" value="female">
        <span class="checkmark"></span>
      </label>
      <label class="container" style="margin-left: 50px; margin-right: 50px;">LGBT+
        <input type="radio" name="gender" value="LGBT">
        <span class="checkmark"></span>
      </label>
      </div>
      </div>
      <!-- *******คำถาม2********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >2.คุณอายุเท่าไร?
      <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
        <label class="container" style="margin-left: 10px; margin-right: 30px;">13-18ปี
          <input type="radio" name="age" value="13">
          <span class="checkmark"></span>
        </label>
        <label class="container" style="margin-left: 10px; margin-right: 30px;">19-24ปี
          <input type="radio" name="age" value="19">
          <span class="checkmark"></span>
        </label>
        <label class="container" style="margin-left: 10px; margin-right: 30px;">25-30ปี
          <input type="radio" name="age" value="25">
          <span class="checkmark"></span>
        </label>
        <label class="container" style="margin-left: 10px; margin-right: 30px;">31ปีขึ้นไป
          <input type="radio" name="age" value="31">
          <span class="checkmark"></span>
        </label>
      </div>
      </div>
       <!-- *******คำถาม3********** -->
       <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">3.วันนี้คุณรู้สึกอย่างไร?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
        <label class="container" style="margin-left: 50px; margin-right: 50px;">อารมณ์ดี
            <input type="radio" name="feeling" value="happy">
            <span class="checkmark"></span>
        </label>
        <label class="container" style="margin-left: 50px; margin-right: 50px;">เฉยๆ
          <input type="radio" name="feeling" value="soso">
          <span class="checkmark"></span>
        </label>
        <label class="container" style="margin-left: 50px; margin-right: 50px;">อารมณ์ไม่ดี
          <input type="radio" name="feeling" value="sad">
          <span class="checkmark"></span>
        </label>
        </div>
        </div>
      <!-- *******คำถาม4********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >4.คุณชอบทำงานแบบใดมากที่สุด?
      <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
        <label class="container" style="margin-left: 50px; margin-right: 50px;">แบบคนเดียว
            <input type="radio" name="work" value="alone">
            <span class="checkmark"></span>
        </label>
        <label class="container" style="margin-left: 50px; margin-right: 50px;">แบบเป็นกลุ่ม
          <input type="radio" name="work" value="team">
          <span class="checkmark"></span>
        </label>
      </div>
      </div>
      <!-- *******คำถาม5********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >5.วันนี้คุณอยากแข่งขันมากน้อยแค่ไหน?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อยที่สุด
              <input type="radio" name="match" value="1">
              <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
            <input type="radio" name="match" value="2">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
            <input type="radio" name="match" value="3">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
            <input type="radio" name="match" value="4">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
            <input type="radio" name="match" value="5">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <!-- *******คำถาม6********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >6.วันนี้คุณอยากแกล้งเพื่อนมากน้อยแค่ไหน?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อยที่สุด
              <input type="radio" name="pretend" value="1">
              <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
            <input type="radio" name="pretend" value="2">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
            <input type="radio" name="pretend" value="3">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
            <input type="radio" name="pretend" value="4">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
            <input type="radio" name="pretend" value="5">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <!-- *******คำถาม7********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >7.คุณมักตามใจผู้อื่นมากน้อยแค่ไหน?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
          <label class="container" style="margin-left: 10px; margin-right: 30px;">น้อย
            <input type="radio" name="indulgent" value="2">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 30px;">ปานกลาง
            <input type="radio" name="indulgent" value="3">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 30px;">มาก
            <input type="radio" name="indulgent" value="4">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 30px;">มากที่สุด
            <input type="radio" name="indulgent" value="5">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <!-- *******คำถาม8********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >8.คุณมักเป็นที่ไว้วางใจของผู้อื่นมากน้อยแค่ไหน?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อยที่สุด
              <input type="radio" name="trust" value="1">
              <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
            <input type="radio" name="trust" value="2">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
            <input type="radio" name="trust" value="3">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
            <input type="radio" name="trust" value="4">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
            <input type="radio" name="trust" value="5">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <!-- *******คำถาม9********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >9.คุณมักให้ความช่วยเหลือกับผู้อื่นมากน้อยแค่ไหน?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
          <label class="container" style="margin-left: 50px; margin-right: 50px;">ปานกลาง
            <input type="radio" name="help" value="3">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 50px; margin-right: 50px;">มาก
            <input type="radio" name="help" value="4">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 50px; margin-right: 50px;">มากที่สุด
            <input type="radio" name="help" value="5">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <!-- *******คำถาม10********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >10.คุณมักจินตนาการเวลาอยู่คนเดียวมากน้อยแค่ไหน?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อยที่สุด
              <input type="radio" name="imagine" value="1">
              <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
            <input type="radio" name="imagine" value="2">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
            <input type="radio" name="imagine" value="3">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
            <input type="radio" name="imagine" value="4">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
            <input type="radio" name="imagine" value="5">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <!-- *******คำถาม11********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >11.คุณมักวางแผนไว้ล่วงหน้ามากน้อยแค่ไหน?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อยที่สุด
              <input type="radio" name="plan" value="1">
              <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
            <input type="radio" name="plan" value="2">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
            <input type="radio" name="plan" value="3">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
            <input type="radio" name="plan" value="4">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
            <input type="radio" name="plan" value="5">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <!-- *******คำถาม12********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >12.คุณชอบที่จะสนทนากับผู้อื่นมากน้อยแค่ไหน?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อยที่สุด
              <input type="radio" name="talk" value="1">
              <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
            <input type="radio" name="talk" value="2">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
            <input type="radio" name="talk" value="3">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
            <input type="radio" name="talk" value="4">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
            <input type="radio" name="talk" value="5">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <!-- *******คำถาม13********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >13.วันนี้คุณสั่งอาหารประเภทใดไปด้วยในระหว่างเล่น?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
   
          <label class="container" style="margin-left: 10px; margin-right: 30px;">อาหารว่าง
            <input type="radio" name="food" value="snack">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 30px;">เครื่องดื่ม
            <input type="radio" name="food" value="drink">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 30px;">ของหวาน
            <input type="radio" name="food" value="dessert">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 30px;">ไม่ได้สั่งอาหาร
            <input type="radio" name="food" value="none">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
       <!-- *******คำถาม14********** -->
       <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">14.วันนี้คุณมาเล่นบอร์ดเกมกันกี่คน?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
        <label class="container" style="margin-left: 50px; margin-right: 50px;">2–4 คน
            <input type="radio" name="num" value="2">
            <span class="checkmark"></span>
        </label>
        <label class="container" style="margin-left: 50px; margin-right: 50px;">5–8 คน
          <input type="radio" name="num" value="5">
          <span class="checkmark"></span>
        </label>
        <label class="container" style="margin-left: 50px; margin-right: 50px;">มากกว่า 8 คนขึ้นไป
          <input type="radio" name="num" value="8">
          <span class="checkmark"></span>
        </label>
        </div>
        </div>
        <!-- *******คำถาม15********** -->
       <div class="r2corners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">15.คุณอยากใช้เวลาในการเล่นบอร์ดเกมกี่นาที?
        <div class="choice" style="display: flex; margin-left: 100px; margin-top: 20px">
        <label class="container" style="margin-left: 10px; margin-right: 10px;">5–10 นาที
            <input type="radio" name="time" value="5">
            <span class="checkmark"></span>
        </label>
        <label class="container" style="margin-left: 10px; margin-right: 10px;">15–30 นาที
          <input type="radio" name="time" value="15">
          <span class="checkmark"></span>
        </label>
        <label class="container" style="margin-left: 10px; margin-right: 10px;">35–60 นาที
          <input type="radio" name="time" value="35">
          <span class="checkmark"></span>
        </label>
        </div>
        <div class="choice" style="display: flex; margin-left: 100px; margin-top: 20px">
        <label class="container" style="margin-left: 10px; margin-right: 4px;">65–90 นาที
          <input type="radio" name="time" value="65">
          <span class="checkmark"></span>
        </label>
        <label class="container" style="margin-left: 2px; margin-right: 4px;">95–120 นาที
          <input type="radio" name="time" value="95">
          <span class="checkmark"></span>
        </label>
        <label class="container" style="margin-left: 4px; margin-right: 2px;">มากกว่า 120 นาที
          <input type="radio" name="time" value="120">
          <span class="checkmark"></span>
        </label>
        </div>
        </div>
         <!-- *******คำถาม16********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >16.คุณอยากเล่นบอร์ดเกมด้วยวิธีใด?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
          <label class="container" style="margin-left: 50px; margin-right: 50px;">ใช้จิตวิทยา(เจรจา, ยุยง)
              <input type="radio" name="method" value="psychology">
              <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 50px; margin-right: 50px;">ใช้ความคิด(วางแผน, วิเคราะห์)
            <input type="radio" name="method" value="think">
            <span class="checkmark"></span>
          </label>
        </div>
        </div>
        <!-- *******คำถาม17********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >17.คุณอยากเล่นบอร์ดเกมที่มีความซับซ้อนในระดับใด?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อยที่สุด
              <input type="radio" name="complexity" value="1">
              <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
            <input type="radio" name="complexity" value="2">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
            <input type="radio" name="complexity" value="3">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
            <input type="radio" name="complexity" value="4">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
            <input type="radio" name="complexity" value="5">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <!-- *******คำถาม18********** -->
      <div class="rcorners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >18.คุณอยากเล่นบอร์ดเกมที่ใช้ดวงในระดับใด?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อยที่สุด
              <input type="radio" name="horoscope" value="1">
              <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
            <input type="radio" name="horoscope" value="2">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
            <input type="radio" name="horoscope" value="3">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
            <input type="radio" name="horoscope" value="4">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
            <input type="radio" name="horoscope" value="5">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <!-- ******************** -->
       <!-- *******คำถาม19********** -->
       <div class="r3corners" style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;" >19.ใน 5 เกมนี้คุณคิดว่าเกมไหนน่าเล่นที่สุด?
        <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
          <label class="container" style="margin-left: 40px; margin-right: 40px;"><img src="/static/img/images.jpg" style="border-radius: 4px; width: 150px;" alt="patchwork">
              <input type="radio" name="name" value="patchwork">
              <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 40px; margin-right: 40px;"><img src="/static/img/chinatown.png" style="border-radius: 4px; width: 120px;" alt="chinatown">
            <input type="radio" name="name" value="chinatown">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 40px; margin-right: 40px;"><img src="/static/img/spyfall.jpg" style="border-radius: 4px; width: 150px;" alt="spyfall">
            <input type="radio" name="name" value="spyfall">
            <span class="checkmark"></span>
          </label>
          </div>
          <div class="choice" style="display: flex; margin-left: 100px; margin-top: 20px">
          <label class="container" style="margin-left: 30px; margin-right: 30px;"><img src="/static/img/ticket.jpg" style="border-radius: 4px; width: 150px;" alt="ticket">
            <input type="radio" name="name" value="ticket">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="margin-left: 30px; margin-right: 30px;"><img src="/static/img/zombicide.jpg" style="border-radius: 4px; width: 150px;" alt="zombicide">
            <input type="radio" name="name" value="zombicide">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <!-- ******************** -->
        <button class="button button1" input type="submit" value="Next" style="float: right; margin-right: 80px;">เสร็จสิ้น</button>
      </form>
      <form action="Home" method="POST">
        {% csrf_token %}
        <button class="button button2" input type="submit" value="Back" style="float: left; margin-left: 20px;">ยกเลิก</button>
      </form>
    </div>
</body>
</html>
