<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Board Game</title>
  <link rel="icon" href="icon/icon.ico">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/slick.css">
  <link rel="stylesheet" href="/static/css/search.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">    
</head>

<body>

  <div class="container">
    <div class="result-text-wrapper">
      <h6 class="result-title text-center">เกมที่เราจะแนะนำคุณก็คือ</h6>
      <h1 class="result-game-category text-center">Abstract Game</h1>
    </div>
    <div class="row">
      <div class="col"  data-toggle="modal" data-target="#exampleAzul">
        <div class="board-game-wrapper">
          <img src="/static/image/Abstract/azul.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Azul</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleBazaar">
        <div class="board-game-wrapper">
          <img src="/static/image/Abstract/baz.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Bazaar</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleDaVinciCode">
        <div class="board-game-wrapper">
          <img src="/static/image/Abstract/davin.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Da Vinci Code</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"  data-toggle="modal" data-target="#exampleCenturySpiceRoad">
        <div class="board-game-wrapper">
          <img src="/static/image/Abstract/dentury.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Century Spice Road</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#examplePylosMini">
        <div class="board-game-wrapper">
          <img src="/static/image/Abstract/pylos.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Pylos Mini</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleSplendor">
        <div class="board-game-wrapper">
          <img src="/static/image/Abstract/splendor.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Splendor</p>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-dark">
    <div class="container navbar-container">
      <div class="ml-auto right-nav">
        <a href="../Djan/index.html">
          <form action="Home" method="POST">
            {% csrf_token %}
          <button class="btn btn-danger">
            หน้าแรก
          </button>
        </form>
        </a>
      </div>
    </div>
  </nav> 

  <!-- Modal goes here -->
    <div class="modal fade" id="exampleSplendor" tabindex="-1" aria-labelledby="exampleSplendor" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/Splendor4.jpg" alt="Splendor">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Splendor </h1>
              <h2> เกมค้าเพชร </h2>
              <h3> จำนวนผู้เล่น: 2-4 คน </h3>
              <h3> ระยะเวลาเล่น: 30 นาที </h3>
              <!-- ref. https://siamboardgames.com/product/splendor/ -->
              <h4> วิธีการเล่นเกม </h4>
              <p>
                เกมนี้จะผลัดเทิร์นกันเล่นไปทีละคน ในเทิร์นของตนผู้เล่นสามารถเลือกทำได้ 1 อย่างจาก 3 อย่างที่มี ได้แก่
                <br><b>หยิบเพชรจากกองกลาง</b>
                <br>วิธีการหยิบเพชรจะมี 2 วิธี
                <br>1) หยิบ 3 อัน ที่ทั้ง 3 อันมีสีแตกต่างกัน
                <br>2) หยิบ 2 อัน ที่มีเหมือนกัน วิธีนี้จะไม่สามารถทำได้ถ้าสีที่จะหยิบมีจำนวน ไม่ถึง 4 อัน
                <br><b>จองการ์ด</b>
                <br>เลือกที่หงายที่อยู่ 1 ใบ และหยิบทอง 1 อัน ผู้เล่นจะไม่สามารถจองการ์ดได้เกิน 3 ใบ
                <br><b>ซื้อการ์ด</b>
                <br>เลือกการ์ดที่หงายอยู่ 1 ใบ จ่ายเพชรคืนกองกลางเท่ากับจำนวนที่อยู่มุมซ้ายล่างของการ์ด และตามด้วยการนำบ้านมาวางขายในตลาดเพื่อทำกำไรให้มากที่สุด
                <br>คนที่ได้เงินกลับไปมากที่สุดนั้นจะเป็นผู้ชนะในแต่ละเกมไป
                เมื่อผู้เล่นคนใดคนหนึ่งทำคะแนนได้ถึง 15 คะแนน ให้เล่นรอบนั้นเป็นรอบสุดท้าย เมื่อจบให้ผู้เล่นคนที่มีคะแนนเยอะสุดเป็นผู้ชนะ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleCenturySpiceRoad" tabindex="-1" aria-labelledby="exampleCenturySpiceRoad" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/402_Century-Spice-Road.jpg" alt="CenturySpiceRoad">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Century Spice Road </h1>
              <h2> เส้นทางสายเครื่องเทศ </h2>
              <h3> จำนวนผู้เล่น: 2-5 คน </h3>
              <h3> ระยะเวลาเล่น: 30-45 นาที </h3>
              <br>
              <!-- ref. https://landmarkboardgame.com/product/century-spice-road/ -->
              <h4> วิธีการเล่นเกม </h4>
              <p>
                เริ่มต้นผู้เล่นจะมีเครื่องเทศจำนวนหนึ่ง และการ์ดค้าขาย (สีม่วง) ในมือสองใบ ซึ่งในหนึ่งตาสามารถเลือกทำอย่างใดอย่างหนึ่งระหว่าง
                <br>1. ใช้การ์ดค้าขาย (สีม่วง)
                <br>เริ่มต้นผู้เล่นทุกคนจะมีการ์ดค้าขายสองใบคือ การ์ดหยิบ ขมิ้นสองอัน กับ อัพเกรด สองครั้ง
                <br>2. เลือกหยิบการ์ดค้าขาย
                <br>การ์ดค้าขายใบซ้ายสุดหยิบได้ทันที ส่วนการ์ดลำดับอื่น ๆ ต้องวางเครื่องเทศไว้ใบละอัน เป็นค้าผ่านทาง
                <br>3. พักผ่อน
                <br>หยิบการ์ดที่ใช้ไปแล้วทั้งหมดขึ้นมาเตรียมใช้งานอีกครั้ง
                <br>4. เคลมการ์ดเมือง (สีส้ม)
                <br>โดยผู้เล่นต้องมีเครื่องเทศตามจำนวนที่เมืองนั้นต้องการ ถ้าเครมการ์ดเมืองไปแล้ว ให้เลื่อนเปิดเมืองขึ้นมาใหม่ให้ครบ 5 เมือง แล้วเลื่อนการ์ดมาทางซ้ายตามลำดับ
                <br>เกมจบเมื่อมีผู้เล่นเครมการ์ดเมืองได้ครบ 5 เมืองก่อน หรือ 6 เมือง กรณีที่เล่น 2-3 คน ถ้าผู้เล่นที่เครมเมืองไม่ใช่ผู้เล่นที่เริ่มเป็นสุดท้าย ผู้เล่นที่เหลือสามารถเล่นได้อีก 1 ครั้งเพื่อความเท่าเทียมกัน
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleAzul" tabindex="-1" aria-labelledby="exampleAzul" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content"> 
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/azul.jpg" alt="Azul">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Azul </h1>
              <h3> จำนวนผู้เล่น: 2-4 คน </h3>
              <h3> ระยะเวลาเล่น: 30-45 นาที </h3>
              <h4> วิธีการเล่นเกม </h4>
              <!-- ref. https://shopee.co.th/Azul-(%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2%E0%B9%84%E0%B8%97%E0%B8%A2)-Board-Game-i.24723279.1576735639 -->
              <p>
                <br>เนื้อเรื่องของเกม Azul เล่าถึงราชาของเมืองๆหนึงที่ออกท่องเที่ยวและได้พบกับพื้นกระเบื้องที่งดงาม เมื่อราชากลับมายังเมืองของตัวเองแล้วจึงเรียกช่างกระเบื่องทั้งหลายมา เพื่อต่อกระเบื้องให้งดงามอยากที่ราชาต้องการ และแน่นอนว่าผู้เล่นจะได้เป็นช่างกระเบื้องที่ต้องต่อกระเบื้องให้ราชาประทับใจ เป็นเกม Abstract ที่สนุก เล่นง่าย สวยงาม อุปกรณ์ของเกมก็ดีมากๆด้วยครับ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleDaVinciCode" tabindex="-1" aria-labelledby="exampleDaVinciCode" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content"> 
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/Davinci.jpg" alt="DaVinciCode">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Da Vinci Code </h1>
              <h2> รหัสลับดาวินซี </h2>
              <h3> จำนวนผู้เล่น: 2-4 คน </h3>
              <h3> ระยะเวลาเล่น: 5-15 นาที </h3>
              <br>
              <!-- ref. https://shopee.co.th/Azul-(%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2%E0%B9%84%E0%B8%97%E0%B8%A2)-Board-Game-i.24723279.1576735639 -->
              <h4> วิธีการเล่นเกม </h4>
              <p>
                1. ผู้เล่นคนแรกจะสุ่มหยิบเลขจากกองกลาง ที่คว่ำไว้หนึ่งเลขมาเรียง ทำให้ตัวเลขในมือจะมี 5 ชิ้น จากนั้นเริ่มทายเลขของอีกฝ่าย โดยชี้ไปยังแท่งพลาสติกแล้วทายเลข เช่น สีดำเลข 5 หรือ สีดำขีด
                <br>
                <br>2. หากทายถูก ฝ่ายที่ถูกทาย จะต้องเปิดเลขที่ทายถูกของตนเองออกให้ทุกคนเห็น และผู้เล่นสามารถทายต่อ หรือไม่ทายต่อก็ได้
                <br>
                <br>3. หากทายไม่ถูก ผู้เล่นจะต้องเปิดเลขของตนเองให้ทุกคนเห็นหนึ่งเลข  เป็นอันจบเทิร์น
                <br>
                <br>4. ผู้เล่นคนต่อไป สุ่มหยิบเลขจากกองกลาง หนึ่งเลขมาเรียง และเริ่มทาย
                <br>
                <br>เกมจบก็ต่อเมื่อ ผู้เล่นแต่ละคนถูกทายเลขจนหมด เป็นอันแพ้ และผู้เล่นที่ยังเหลือคนสุดท้ายที่ไม่ถูกทายเลขจนหมด จะเป็นผู้ชนะในเกมนี้
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="examplePylosMini" tabindex="-1" aria-labelledby="examplePylosMini" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content"> 
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/405_Pylos-Mini.jpg" alt="PylosMini">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Pylos Mini </h1>
              <h3> จำนวนผู้เล่น: 2 คน </h3>
              <h3> ระยะเวลาเล่น: 15-20 นาที </h3>
              <br>
              <!-- ref. https://shopee.co.th/Azul-(%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2%E0%B9%84%E0%B8%97%E0%B8%A2)-Board-Game-i.24723279.1576735639 -->
              <h4> วิธีการเล่นเกม </h4>
              <p>
                ผู้เล่นแต่ละคนเริ่มต้นด้วย 15 ลูก ผู้เล่นผลัดกันหยิบชิ้นส่วนจากกองสำรองและวางไว้บนกระดานเกม เมื่อวางสี่ชิ้นติดกันในสี่เหลี่ยมจัตุรัสสามารถวางอีก1ชิ้นที่ด้านบนของสี่เหลี่ยมได้
                หากสี่เหลี่ยมมีสีเดียวกันทั้งหมดผู้เล่นที่มีสีนั้นอาจนำชิ้นส่วนของตัวเองหนึ่งหรือสองชิ้นออกจากกระดาน และ ผู้เล่นจะชนะหากพวกเขาวางหมากสุดท้ายในระดับที่ 4 หรือหากผู้เล่นคนอื่นหมดชิ้นที่จะเล่น
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleBazaar" tabindex="-1" aria-labelledby="exampleBazaar" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content"> 
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/Bazaar.jpg" alt="Bazaar">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Bazaar </h1>
              <h3> จำนวนผู้เล่น: 2-6 คน </h3>
              <h3> ระยะเวลาเล่น: 30-45 นาที </h3>
              <br>
              <!-- ref. https://shopee.co.th/Azul-(%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2%E0%B9%84%E0%B8%97%E0%B8%A2)-Board-Game-i.24723279.1576735639 -->
              <h4> วิธีการเล่นเกม </h4>
              <p>
                เกมมีการซื้อขายอย่างชำนาญและการซื้อขายซ้ำ ผู้เล่นแต่ละคนพยายามที่จะได้รับชุดค่าผสมที่เหมาะสมของหินสีจากธนาคารเพื่อซื้อสินค้าที่แสดงในบาซาร์มูลค่าของสินค้าต่างๆจะพิจารณาจากจำนวนหินที่ผู้ซื้อถือหลังจากการทำธุรกรรมของเขา การซื้อขายอยู่ภายใต้อัตราปัจจุบันที่โพสต์ใน Exchange
  มื่อบาซ่าปิดเกมจะจบลงและผู้เล่นที่มีคะแนนสูงสุดจะชนะ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script>
      $('.carousel-view').slick({
        infinite: false,
        slidesToShow: 4,
        slidesToScroll: 1
      });
    </script>
  
    <!-- ฟังก์ชัน เลือกตัวที่เหมือนกับตัวอักษร-->
    <script>
  
      /* show pop up */
      const listModals = [
        "exampleSplendor", "exampleCenturySpiceRoad", "exampleAzul", "exampleDaVinciCode", "examplePylosMini", "exampleBazaar"
      ]
      listModals.forEach(modal => {
        let handler = document.getElementById(modal);
  
        handler.addEventListener('shown.bs.modal')
      })
    </script>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>
  
  
  
  </body>
  
  </html>