<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Board Game</title>
  <link rel="icon" href="icon/icon.ico">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/slick.css">
  <link rel="stylesheet" href="/static/css/search.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">    
</head>

<body>
  <div class="container">
    <div class="result-text-wrapper">
      <h6 class="result-title text-center">เกมที่เราจะแนะนำคุณก็คือ</h6>
      <h1 class="result-game-category text-center">Thematic Game</h1>
    </div>
    <div class="row">
      <div class="col"  data-toggle="modal" data-target="#exampleSherlock">
        <div class="board-game-wrapper">
          <img src="/static/image/Thematic/sherlock.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Sherlock Holmes: Four Investigations</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleWinter">
        <div class="board-game-wrapper">
          <img src="/static/image/Thematic/dead.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Dead of Winter</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleDetective">
        <div class="board-game-wrapper">
          <img src="/static/image/Thematic/detective.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Detective: A Modern Crime Board Game</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"  data-toggle="modal" data-target="#exampleFounders">
        <div class="board-game-wrapper">
          <img src="/static/image/Thematic/founders.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Founders of Gloomheaven</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#examplePandemic">
        <div class="board-game-wrapper">
          <img src="/static/image/Thematic/legacy.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Pandemic Legacy</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleMansions">
        <div class="board-game-wrapper">
          <img src="/static/image/Thematic/madness.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Mansions of Madness</p>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-dark">
    <div class="container navbar-container">
      <div class="ml-auto right-nav">
        <a href="../Djan/index.html">
        <form action="Home" method="POST">
            {% csrf_token %}
          <button class="btn btn-danger">
            หน้าแรก
          </button>
        </form>
        </a>
      </div>
    </div>
  </nav> 

  <!-- Modal goes here -->
    <div class="modal fade" id="exampleSherlock" tabindex="-1" aria-labelledby="exampleSherlockLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/pic18.jpg" alt="Sheriff">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Sherlock Holmes: Four Investigations </h1>
              <h2> เกมเชอร์ล็อกโฮล์มส์กับรหัสคดีทั้งสี่ </h2>
              <h3> จำนวนผู้เล่น: 1 คน </h3>
              <h3> ระยะเวลาเล่น: 30 นาที </h3>
              <br>
              <h4> วิธีการเล่นเกม </h4>
              <p>
                ไขปริศนาของรหัสคดีทั้ง 4 โดยการสวมบทบาทเป็นสุดยอดนักสืบ “เชอร์ล็อค โฮล์มส์”  หรือ ผู้ช่วย “เจมส์ วัตสัน” 
                ค้นหาสมบัติล้ำค่าที่ถูกขโมยไปจากพิธภัณฑ์ในกรุงลอนดอน ตามหาความจริงของชายปริศนาที่ถูกทรมานจนความจำเสื่อม 
                หาตัวผู้ร้ายที่สังหารหมอดูที่น่าสงสาร ตามหาสัตว์เลี้ยงของคุณนายฮัดสันที่หายไปอย่างลึกลับ และรวบรวมชิ้นส่วนจิ๊กซอว์ของความจริงเข้าด้วยกัน
                </br>เปิดหนังสือตั้งแต่หน้าแรก อ่านและทำตามที่คู่มือการสืบสวนบอก จากนั้นในแต่ละหน้าที่เราอ่านไปจะสร้างตัวเลือกให้เรามากมายให้เราได้เลือก 
                     บางครั้งก็จะมาในรูปแบบของข้อความ บ้างก็มาในรูปแบบของภาพ เพื่อจะบอกตัวเลขของช่องถัดไปที่เราจะต้องอ่านเพื่อเชื่อมเรื่องราวทั้งหมดเข้าด้วยกัน
                </br>เกมมีจุดจบที่หลากหลายขึ้นกับการตัดสินใจของเราในแต่ละหน้าที่จะส่งผลไปยังจุดจบที่แตกต่างกัน                        
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="modal fade" id="exampleWinter" tabindex="-1" aria-labelledby="exampleWinterLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/pic1999.jpg" alt="Winter">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Dead of Winter </h1>
              <h2> เกมเหมันต์มรณะ </h2>
              <h3> จำนวนผู้เล่น: 2-5 คน </h3>
              <h3> ระยะเวลาเล่น: 60-12- นาที </h3>
              <br>
              <h4> วิธีการเล่นเกม </h4>
              <p>
                ผู้เล่นจะได้ควบคุมตัวละครผู้รอดชีวิต 1 กลุ่มที่อยู่ในอาณานิคมเดียวกัน และต้องช่วยเหลือกันจากมหันตภัยร้ายจาก
                เชื้อโรคที่ทำให้คนกลายเป็นซอมบี้ นอกจากจะต้องระวังไม่ให้คนของคุณตายหรือติดเชื้อ ก็ยังต้องช่วยกันทำภารกิจตามที่กำหนด 
                รวมถึงระบบตัวเลือกการตัดสินใจที่แสนยาก ที่จะส่งผลกับทุกๆคนในอาณานิคมแห่งนี้เล่นได้
                </br>เกมจะเล่นเป็นรอบ โดยแต่ละรอบจะมี 2 เฟส
                </br>เฟสที่ 1 เทิร์นของผู้เล่น
                </br>- ผู้เล่นแต่ละคนทอยลูกเต๋า โดยลูกเต๋าจะมีจำนวนเท่ากับตัวละครในกลุ่มของเรา +1 ลูก 
                </br>- ผู้เล่นคนทางจะจั่วการ์ดทางเลือกสำคัญ 1 ใบและเมื่อใดก็ตามที่ผู้เล่นเจ้าของเทิร์นทำตรงตามเงื่อนไขที่เขียนอยู่บนการ์ด จะถือว่าการ์ดนั้นส่งผลกับผู้เล่นนั้นทันที 
                </br>เฟสที่ 2 เฟสของอาณานิคม
                </br>- จ่ายอาหาร
                </br>- ตรวจสอบขยะ
                </br>– ที่อาณานิคม เพิ่มซอมบี้ 1 ตัว ต่อทุกๆ 2 ตัวละครที่อยู่ในอาณานิคม
                </br>- ตรวจสอบภารกิจหลัก ถ้าเงื่อนไขตรงกับการ์ดภารกิจหลักจะถือว่าจบเกมทันที                 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="modal fade" id="exampleDetective" tabindex="-1" aria-labelledby="exampleDetectiveLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/pic20000.jpg" alt="Detective">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Detective: A Modern Crime Board Game </h1>
              <h2> เกมนักสืบร่วมไขคดี </h2>
              <h3> จำนวนผู้เล่น: 1-4 คน </h3>
              <h3> ระยะเวลาเล่น: 120-180 นาที </h3>
              <br>
              <h4> วิธีการเล่นเกม </h4>
              <p>
                เป็นเกมที่จะให้คุณไขตดีด้วยกันทั้งหมด 5 คดี โดยการสืบค้นในเกมนี้จะให้คุณเปิดฐานข้อมูลผ่านเว็บ antaresdatabase
                 ที่เป็นคลังข้อมูลของเกมที่สร้างขึ้นสำหรับเกมนี้ รวมไปถึงเราต้องใช้ข้อมูลจากโลกจริงเพื่อเป็นการเชื่อมโยงข้อมูลเข้ามาด้วยกัน 
                 ผู้เล่นจะได้รับบทบาทเป็นนักสืบสวนที่มีความสามารถเฉพาะตัว และช่วยกันระดมสมอง ไขคดี 
                 ซึ่งแต่ละคดีจะมีความยากและต้องอาศัยความร่วมมือกันในการค้นหาคำตอบ 
                </br>1.ในเกมเราจะได้ไปไปยังสถานที่ต่างๆ ซึ่งการเดินทางนั้นต้องใช้เวลาทั้งสิ้น ตัวเกมจะกำหนดเวลาจบเอาไว้ เช่น 7 วันซึ่งหมายความว่าเราจะมีเวลาแค่ 7 รอบเท่านั้นๆ 1 วันต่อ 1 รอบ 
                </br>2.เดินทางไปยังสถานที่ต่างๆอ่านข้อมูล และสืบหาเบาะแสและจดบันทึก เมื่อไปถึงสถานที่แล้วเราจะหยิบการ์ดสถานที่นั้นมา แล้วก็จะมีตัวเลือกให้เราเลือกอีก 
                </br>3.ในช่วงสุดท้ายของเกมจะมีการตอบคำถามซึ่งจะเอาข้อมูลที่มีทั้งหมดนั้นมาตอบซึ่งจะต้องตอบให้ผ่านเพื่อที่จะไปยังด่านต่อไปหากเราสามารถตอบได้ผ่าน
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>    
    <div class="modal fade" id="exampleFounders" tabindex="-1" aria-labelledby="exampleFoundersLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/pic2111.jpg" alt="Founders">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Founders of Gloomheaven </h1>
              <h2> เกมนักก่อตั้งแห่งเมืองกูมแฮฟเวิน </h2>
              <h3> จำนวนผู้เล่น: 1-4 คน </h3>
              <h3> ระยะเวลาเล่น: 90-120 นาที </h3>
              <br>
              <h4> วิธีการเล่นเกม </h4>
              <p>
                เกมยูโรระดับกลางหนักที่จะพาไปสู่จุดกำเนิดของเมือง Gloomheaven และรับบทเป็นเผ่าที่แตกต่างกันที่จะมาช่วยกันสร้างเมืองแห่งนี้จากพื้นดินรกร้าง
                </br>แกนหลักของเกมนี้คือการ ‘เติมเต็ม supply chain’  สิ่งปลูกสร้างสำคัญในเมืองจะถูกเอาไปวางไว้บนแผนที่ 
                ซึ่งไทล์ตึกสิ่งก่อสร้างนี้ก็จะต้องการของต่างๆกันเพื่อให้ตัวตึกสร้างเสร็จสมบูรณ์ เช่น หนึ่งในนั้นเป็น ‘อาวุธ’ 
                ถ้าผู้เล่นที่มีโรงผลิตดาบต่อทางเดินมาถึงไทล์นี้ได้จะได้รับแต้มจำนวนหนึ่ง แต่ว่าตัวโรงงาน ‘อาวุธ’ เองก็ต้องการสินค้าจาก
                 ‘โรงตีเหล็ก’ และ ‘หนังสัตว์’ ในขณะที่ โรงฟอกหนังเองก็ต้องการสินค้าจาก ‘โรงเลื้อยไม้’ และ ‘ปศุสัตว์’ โดยที่ทั้งหมดนี้ไม่จำเป็นจะต้องมาจากของผู้เล่นคนเดียวกัน
                </br>เกมนี้จะมีการจั่วตึกไว้ให้เราโหวตครั้งล่ะสามตึก ผู้เล่นก็จะกำสัญลักษณ์ของตึกที่อยากได้ พร้อมกับโทเคนเสียงโหวตแล้วเปิดพร้อมกัน 
                ตึกที่ได้รับเสียงโหวตเยอะสุดจะถูกเอาไปวางไว้บนกระดานโดยผู้เล่นที่ส่งคะแนนโหวตเยอะสุด การโหวตตึกนี้ถือเป็นจุดสำคัญที่สุดของเกมนี้ 
                เพราะว่ามันคือตัวกำหนดว่า สินค้าแบบไหนจะขายได้ แล้วใครจะได้รับแต้มบ้าง แถมทำเลการวางก็ยังมีผลเพราะมันจะเป็นการกั๊กให้ผู้เล่นบางคนส่งของไม่ได้ด้วย 
                </br>โดยเกมนี้จะจบลงเมื่อผู้เล่นทำการสร้างตึกพิเศษครบ 6 ตึก
                </br>จำนวนผู้เล่น: 1-4 คน  เวลา: 90-120 นาที
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>   
    <div class="modal fade" id="examplePandemic" tabindex="-1" aria-labelledby="examplePandemicLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/pic222.png" alt="Pandemic">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Pandemic Legacy </h1>
              <h2> เกมไล่ล่ากำราบโรคร้าย </h2>
              <h3> จำนวนผู้เล่น: 2-4 คน </h3>
              <h3> ระยะเวลาเล่น: 45 นาที </h3>
              <br>
              <h4> วิธีการเล่นเกม </h4>
              <p>
                เกมยูโรระดับกลางหนักที่จะพาไปสู่จุดกำเนิดของเมือง Gloomheaven และรับบทเป็นเผ่าที่แตกต่างกันที่จะมาช่วยกันสร้างเมืองแห่งนี้จากพื้นดินรกร้าง
                เมื่อเชื้อโรคร้ายกลายพันธ์เกิดการแพร่กระจายอย่างรุนแรงขึ้นพร้อมกันทั่วทั้งโลก คุณและกลุ่มของเพื่อนร่วมอุดมการของคุณ 
                รวมตัวกันเป็นทีมของผู้เชี่ยวชาญที่ได้รับการสนับสนุนจากรัฐบาลของประเทศต่างๆ โดยมีจุดมุ่งหมายร่วมกันเพียงอย่างเดียว คือการที่จะต้องป้องกันและแก้ไขการแพร่กระจายของเชื่อโรคนี้ให้ได้
                 ก่อนที่มันจะลามไปจนกระทั่งไม่สามารถหยุดยั้งได้อีกต่อไป
                </br>1.ผู้เล่นสามารถเดินทางจากเมืองหนึ่งไปอีกเมืองหนึ่งได้ทั้งหมด 4 วิธี โดยแต่ละวิธีจะถือว่าเป็น 1 แอ็กชั่น
                </br>2.ถ้าผู้เล่นมีการ์ดของเมืองที่ตนเองกำลังยืนอยู่ ผู้เล่นสามารถที่จะเลือกสร้างสถานีวิจัยที่เมืองนั้นได้
                </br>3.ในกรณีที่ผู้เล่นเลือกที่จะรักษาโรค ผู้เล่นจะหยิบเบี้ยเชื้อโรคออกไปจากเมืองที่ยืนอยู่ 1 ชิ้น แต่ถ้าโรคนั้นถูกค้นพบยารักษาเรียบร้อยแล้ว ให้ผู้เล่นสามารถดึงเอาเชื้อโรคชนิดนั้นออกไปได้ทั้งหมดจากเมืองที่รักษา
                </br>4.ผู้เล่นที่มีการ์ดเมืองที่ตนเองกำลังยืนอยู่ สามารถนำการ์ดนั้นส่งให้ผู้เล่นคนอื่นในเมืองเดียวกันได้ หรือผู้เล่นสามารถขอการ์ดเมืองที่ตนเองกำลังยืนอยู่จากผู้เล่นคนอื่นที่ยืนอยู่ในเมืองเดียวกันได้
                </br>5.ผู้เล่นจะสามารถทำการวิจัยยาได้เมื่ออยู่ในเมืองที่มีสถานีวิจัยอยู่เท่านั้น โดยผู้เล่นจะต้องมีการ์ดเมืองอยู่ 5 ใบ ที่เป็นสีเดียวกันหมด ก็จะสามารถทำยาเพื่อรักษาโรคของสีนั้นๆได้ 
                </br>เกมจะจบเมื่อสามารถค้นพบยารักษาโรคได้ครบทั้ง 4 ชนิด (ผู้เล่นไม่จำเป็นจะต้องกำจัดเชื้อโรคให้สูญพันธ์ เกมจะจบทันที ที่สามารถวิจัยยาได้ครบ)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="modal fade" id="exampleMansions" tabindex="-1" aria-labelledby="exampleMansionsLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/pic23.jpg" alt="Mansions">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Mansions of Madness </h1>
              <h2> เกมคฤหาสน์วิปลาส </h2>
              <h3> จำนวนผู้เล่น: 2-5 คน </h3>
              <h3> ระยะเวลาเล่น: 120-180 นาที </h3>
              <br>
              <h4> วิธีการเล่นเกม </h4>
              <p>
                ในย่านชนบทของรัฐ Massachusetts ของสหรัฐอเมริกาฯ ปรากฎแมนชั่นหลังหนึ่งที่ตัดขาดจากโลกภายนอก เงื่อนงำเบาะแสทุกอย่างที่คุณพบ พวกมันพาคุณมาที่นี่ นี่คือที่ๆคุณจะได้พบคำตอบทั้งหลายที่คุณเฝ้าตามหามาโดยตลอด
                ปีศาจ ความชั่วร้าย ชอนไชไปทั่วกำแพง ตัวแมนชั่นกำลังจ้องมองคุณเยี่ยงศัตรู แม้นความหวาดกลัวจะแล่นลึกถึงจิตวิญญาณแต่คุณก็ก้าวเดินต่อไป
                </br>เกมนี้บังคับให้ต้องเล่นควบคู่กับ Application เท่านั้น เพื่อให้มีคนคอยเล่าเนื้อเรื่องให้ฟัง 
                </br>1.เลือกตัวละครที่จะเล่นและเริ่มต้นการสำรวจ
                </br>2.เมื่อเกิดเหตุการณ์ต่างๆขึ้น ระบบเกมจะให้เราใช้ลูกเต๋าเป็นตัววัดว่าเราผ่านพ้นมันได้สำเร็จหรือไม่
                </br>3.ยิ่งเรื่องราวเปิดเผย เหล่าปีศาจที่น่ากลัวยิ่งขึ้นจะยิ่งปรากฎตัว ต้องไขปริศนาและผ่าความกลัวไปให้ได้
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script>
      $('.carousel-view').slick({
        infinite: false,
        slidesToShow: 4,
        slidesToScroll: 1
      });
    </script>
  
    <!-- ฟังก์ชัน เลือกตัวที่เหมือนกับตัวอักษร-->
    <script>
  
      /* show pop up */
      const listModals = [
        "exampleSherlock", "exampleWinter", "exampleDetective", "exampleFounders", "examplePandemic", "exampleMansions"
      ]
      listModals.forEach(modal => {
        let handler = document.getElementById(modal);
  
        handler.addEventListener('shown.bs.modal')
      })
    </script>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>
  
  
  
  </body>
  
  </html>