<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Board Game</title>
  <link rel="icon" href="icon/icon.ico">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/slick.css">
  <link rel="stylesheet" href="/static/css/search.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="result-text-wrapper">
      <h6 class="result-title text-center">เกมที่เราจะแนะนำคุณก็คือ</h6>
      <h1 class="result-game-category text-center">Party Game</h1>
    </div>
    <div class="row">
      <div class="col"  data-toggle="modal" data-target="#exampleModal">
        <div class="board-game-wrapper">
          <img src="/static/image/Party/pic1.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Werewolf</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleKitten">
        <div class="board-game-wrapper">
          <img src="/static/image/Party/pic1.png" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Exploding Kitten</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleAvalon">
        <div class="board-game-wrapper">
          <img src="/static/image/Party/pic3.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Avalon</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"  data-toggle="modal" data-target="#exampleCoup">
        <div class="board-game-wrapper">
          <img src="/static/image/Party/pic4.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Coup</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleSalem">
        <div class="board-game-wrapper">
          <img src="/static/image/Party/pic5.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Salem</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleBang">
        <div class="board-game-wrapper">
          <img src="/static/image/Party/pic6.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Bang!</p>
        </div>
      </div>
    </div>
  </div>
  
  <nav class="navbar navbar-dark">
    <div class="container navbar-container">
      <div class="ml-auto right-nav">
        <a href="../Djan/index.html">
          <form action="Home" method="POST">
            {% csrf_token %}
          <button class="btn btn-danger">
            หน้าแรก
          </button>
        </form>
        </a>
      </div>
    </div>
  </nav> 

  <!-- Modal goes here -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic6.jpg" alt="werewolf">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> WereWolf </h1>
            <h2> เกมล่าปริศนามนุษย์หมาป่า </h2>
            <h3> จำนวนผู้เล่น: 5-75 คน </h3>
            <h3> ระยะเวลาเล่น: 15นาที-ตามจำนวนผู้เล่น </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              ในหมู่บ้านแห่งหนึ่ง ทุกๆ คืนจะมีชาวบ้านโดนมนุษย์หมาป่ากัดตาย ชาวบ้านจึงปิดหมู่บ้านสืบสวนกัน
              ตามหาว่าใครกันแน่ในหมู่บ้านที่เป็นมนุษย์หมาป่าคอยออกมาทำร้านชาวบ้าน
              ซึ่งในขณะที่มนุษย์หมาป่าต้องซ่อนตัวปะปนไปกับชาวบ้าน โดยไม่ให้โดนจับได้
              </br>เกมจะแบ่งเป็น 2 ฝ่าย
              </br>1.ชาวบ้านที่อาศัยอยู่ในหมู่บ้านอย่างสงบสุข
              </br>2.หมาป่าที่แอบแฝงอยู่ในหมู่บ้าน
              </br>และแบ่งเป็นช่วงเวลา 2 ช่วง
              </br>1. ช่วงกลางคืน
              </br>- หมาป่าตกลงกันเองว่าจะเลือกฆ่าใคร แล้วระบุเป้าหมายที่จะฆ่ามา 1 คน
              </br>2. ช่วงกลางวัน
              </br>- ทุกคนมาพร้อมกันที่กลางหมู่บ้าน ดูว่ามีใครตาย
              จากนั้นก็ถกกันว่าใครคือผู้ต้องสงสัยว่าเป็นฆาตกร
              </br>- โหวตเผาผู้ต้องสงสัย หากใครโดนโหวตมากที่สุด จะโดนจับเผา
              </br>- ใครที่ตายไปแล้ว ห้ามมีส่วนร่วมเกี่ยวกับเกม ห้ามมาให้คำแนะนำหรือร่วมถกกับคนที่ยังไม่ตาย
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleKitten" tabindex="-1" aria-labelledby="exampleKittenLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic7.jpg" alt="kitten">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Exploding Kittens </h1>
            <h2> เกมแมวระเบิด </h2>
            <h3> จำนวนผู้เล่น: 2-5 คน </h3>
            <h3> ระยะเวลาเล่น: 15 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เกมการ์ดแนว Battle Royale หรือ Russian Roulette ในการเล่นนั้น แต่ละคนจะค่อยๆ
              ผ่านเทิร์นของตัวเองและลุ้นว่าจะมีใครหยิบได้ระเบิดไหม
              หากเจอระเบิดและไม่มีใบกู้ระเบิด ก็จะโดนระเบิดพ่ายแพ้ไป และคนที่เหลือต้องลุยกันต่อ
              จนกว่าจะเหลือผู้ชนะเพียงคนเดียวเท่านั้น
              ซึ่งในระหว่างเล่นก็จะมีการ์ดคำสั่งมากมายที่ใช้ในการเอาตัวรอดหรือรุมแกล้งคนอื่นได้เช่นกัน เริ่มจาก
              </br>1.ให้แยกการ์ด Exploding Kitten และ Defuse ออกมาจากกองการ์ด
              </br>2.สับกองการ์ดและแจกจ่ายการ์ดให้ผู้เล่นแต่ละคน 7 ใบ และมอบ Defuse ให้ทุกคน คนละ 1 ใบ และนำ Defuse
              ที่เหลือใส่เข้ากองการ์ด
              </br>3.นำการ์ด Exploding Kitten ใส่เข้าไปในกองการ์ดตามจำนวนผู้เล่นทั้งหมด ลบ 1 (เล่น 4 คนใส่ 3)
              </br>4.แยกการ์ด Exploding Kitten ไว้ต่างหาก เราจะไม่ใช้อีก จากนั้นสับกองการ์ดให้เรียบร้อย พร้อมเล่นทันที
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleAvalon" tabindex="-1" aria-labelledby="exampleAvalonLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic8.jpg" alt="avalon">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Avalon </h1>
            <h2> เกมคนลวง </h2>
            <h3> จำนวนผู้เล่น: 5-10 คน </h3>
            <h3> ระยะเวลาเล่น: 30 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              </br>ผู้เล่นแต่ละคนจะต้องออกไปทำภารกิจทั้งหมด 5 ภารกิจ
              โดยผู้เล่นจะผลัดกันรับตำแหน่งผู้นำในการคัดเลือกลูกทีมเพื่อ
              </br>ไปทำภารกิจให้สำเร็จตามเป้าหมายที่ตัวเองได้รับ ซึ่งเป้าหมายของแต่ละคนก็จะไม่เหมือนกัน
              ขึ้นอยู่กับว่าผู้เล่นหยิบไพ่ตัวละครได้อยู่ทีมไหน
              </br>โดยเแบ่งเป็นสองทีมคือ
              </br>มีทั้งฝ่ายดี (ทีมน้ำเงิน)
              </br>ฝ่ายชั่ว (ทีมแดง)
              </br>ซึ่งหากเป็นฝ่ายดีจะต้องทำให้ภารกิจสำเร็จ และหากเป็นฝ่ายชั่วจะต้องทำภารกิจให้ล้มเหลว
              </br>โดยทีมใดทำให้เป้าหมายตัวเองสำเร็จก่อน 3 ครั้ง จะเป็นผู้ชนะ
              โดยผู้เล่นจะแต่ละคนจะต้องซ่อนตัวละครเอาไว้ไม่ให้ผู้เล่นคนอื่นรู้ว่าอยู่ทีมใด
              </br>และต้องพยายามพูดจาหลอกล่อให้ตัวเองถูกส่งไปทำภารกิจ
              เพื่อที่จะทำให้ภารกิจออกมาสำเร็จตามเป้าหมายของตัวเอง
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleCoup" tabindex="-1" aria-labelledby="exampleCoupLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic10.jpg" alt="Coup">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Coup </h1>
            <h2> เกมนักปฏิวัติ </h2>
            <h3> จำนวนผู้เล่น: 2-6 คน </h3>
            <h3> ระยะเวลาเล่น: 5-15 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              เป็นการ์ดเกมที่มีธีมหลักเกี่ยวกับการเมือง ผู้เล่นรับบทเป็นหัวหน้าตระกูลของกลุ่มผู้มีอิทธิพล
              ที่จะต้องพยายามทำทุกวิถีทางเพื่อที่จะแย่งชิงอำนาจ และเป็นผู้เหลือรอดคนสุดท้ายให้ได้
              ตัวเกมจะให้ผู้เล่นแต่ละคนได้รับตัวละครคนละ 2
              ใบซึ่งถ้าการ์ดตัวละครของเราโดนกำจัดออกทั้งหมดเราก็จะถูกคัดออกจากเกม
              ส่วนวิธีการกำจัดศัตรูของเกมนี้มีหลากหลายรูปแบบ เป็นเกมที่ใช้จิตวิทยา การตัดสินใจ ค่อนข้างมาก
              แต่ถ้าไม่คิดมากก็ชนะได้เหมือนกัน
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleSalem" tabindex="-1" aria-labelledby="exampleSalemLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic9.jpg" alt="Salem">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Salem </h1>
            <h2> เกมล่าแม่มด </h2>
            <h3> จำนวนผู้เล่น: 4-12 คน </h3>
            <h3> ระยะเวลาเล่น: 20-40 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              บรรยากาศเลวร้ายปะทุขึ้นเมื่อชาวเมืองเชื่อว่าในบรรดาเพื่อนบ้านของเขานั้น… มีบางคนเป็น “แม่มด”!
              </br>ในเกมนี้จะต้องเล่นการ์ดที่จั่วขึ้นมาเพื่อใส่ความผู้เล่นที่คุณไม่ไว้ใจ
              และพยายามปกป้องผู้เล่นที่เชื่อว่าอยู่ฝ่ายเดียวกัน “แม่มด”
              และจะชนะเกมเมื่อสามารถสังหารผู้เล่นที่ไม่ใช่แม่มดได้จนหมด
              แต่ชาวเมืองจะชนะเกมเมื่อสามารถหงายการ์ดไต่สวนทุกใบที่เขียนคำว่า “แม่มด” ได้สำเร็จ
              </br>1.นำการ์ดบทบาทมาแจกให้กับผู้เล่นทุกคน ซึ่งจะมีการ์ดแม่มดรวมอยู่ด้วย 1 ถึง 2 ใบต่อวงการเล่น 1 วง
              การได้การ์ดผู้พิทักษ์หมายถึงว่าผู้เล่นจะต้องปกป้องผู้เล่นอื่น 1 คนจากการโดนแม่มดล่าในกลางคืน
              </br>2.นำการ์ดตัวละครมาแจกให้ผู้เล่นคนละ 1 ใบ ซึ่งจะทำให้ผู้เล่นแต่ละคนมีความสามารถเฉพาะตัวที่แตกต่างกัน
              </br>3.ให้ทุกคนหลับตาและแม่มดลืมตาขึ้นมาเพื่อนำการ์ดแมวดำไปวางไว้ที่หน้าผู้เล่นหนึ่งคน
              </br>4.ผู้เล่นที่มีการ์ดแมวดำเป็นผู้เล่นคนแรก ซึ่งในรอบการเล่นของตนผู้เล่นสามารถเลือกทำได้ 1 อย่างจาก 2
              อย่างคือ
              </br> 4.1 จั่วการ์ดทั่วไป 2 ใบแล้วจบรอบการเล่นทันที
              </br> 4.2 เล่นการ์ดทั่วไปอย่างน้อย 1 ใบ
              </br>5.การเล่นจะดำเนินไปเรื่อย ๆ จนกระทั่งมีคนตายหรือว่ากองจั่วหมด
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleBang" tabindex="-1" aria-labelledby="exampleBangLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Photo -->
          <div class="modal-photo">
            <img src="/static/image/pic11.jpg" alt="Bang">
          </div>
          <!-- Text -->
          <div class="modal-text">
            <h1> Bang! </h1>
            <h2> เกมคาวบอย </h2>
            <h3> จำนวนผู้เล่น: 3-8 คน </h3>
            <h3> ระยะเวลาเล่น: 15 นาที </h3>
            <br>
            <h4> วิธีการเล่นเกม </h4>
            <p>
              </br>แต่ละคนจะต้องรับบทเป็นตัวละครที่มีความสามารถต่างๆกัน พร้อมบทบาทลับ ที่ไม่สามารถให้ใครรู้ได้
              มีผู้เดียวเท่านั้นที่จะต้องเปิดเผยตัวตนนั่นก็คือนายอำเภอ จะมีบทบาทหลักๆแบ่งออกเป็น 2 ฝ่าย
              </br>1.ฝ่ายคนดี จะประกอบไปด้วย นายอำเภอ และผู้ช่วยนายอำเภอ
              ซึ่งจะต้องทำหน้าที่ปราบเหล่าร้ายให้หมดไปจึงจะชนะไปในเกมนี้
              </br>2.ฝ่ายผู้ร้าย ประกอบไปด้วย โจร และคนทรยศ ซึ่งวิธีการชนะจะแตกต่างจากฝ่ายคนดีอยู่นิดหน่อยคือ
              โจรมีหน้าที่ฆ่านายอำเภอให้ตายจึงจะชนะ แต่คนทรยศนั้นจะต้องทำให้ตนเองเหลือรอดเป็นคนสุดท้ายจึงจะชนะไปในเกมนี้
              </br>วิธีเล่น
              </br>1.ผู้เล่นจะต้องได้รับบทบาทลับคนละ 1 ใบ ซึ่งผู้ที่ได้บทเป็นนายอำเภอ จะต้องเปิดบทบาทของตนเอง
              แต่สำหรับบทบาทที่เหลือจะต้องปิดเป็นความลับ
              </br>2.ผู้เล่นทุกคนจะได้รับการ์ดตัวละครคนละ 1 ใบ จากการแจกการ์ดตัวละครแบบสุ่ม
              จะได้รับความสามารถของตัวละครนั้นๆและกระสุนตามการ์ดตัวละคร
              </br>3.นายอำเภอจะได้รับกระสุนบวกเพิ่มจากการ์ดตัวละครอีก 1 เหรียญ
              จากนั้นผู้เล่นจะได้รับการ์ดแอ็คชั่นตามจำนวนของกระสุนที่มี
              </br>4.เกมจะแบ่งเป็น 3 ช่วงด้วยกันคือ
              </br> -จั่วการ์ดแอ็คชั่น ผู้ที่เริ่มเกมคือคนที่รับบทเป็นนายอำเภอจะต้องจั่วการ์ดจากกองกลาง 2 ใบ
              </br> -เล่นการ์ดแอ็คชั่น เมื่อเข้าช่วงเล่นการ์ด จะสามารถเล่นการ์ดแอ็คชั่นกี่ใบก็ได้ แต่จะใช้การ์ด BANG!
              ได้แค่ครั้งเดียว
              </br> -ทิ้งการ์ด เมื่อจบช่วงเล่นการ์ดแอ็คชั่น
              ผู้เล่นทุกคนจะต้องทิ้งการ์ดบนมือให้เหลือตามจำนวนกระสุนของตนเอง
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/slick.min.js"></script>
  <script>
    $('.carousel-view').slick({
      infinite: false,
      slidesToShow: 4,
      slidesToScroll: 1
    });
  </script>

  <!-- ฟังก์ชัน เลือกตัวที่เหมือนกับตัวอักษร-->
  <script>

    /* show pop up */
    const listModals = [
      "exampleKitten", "exampleModal", "exampleAvalon", "exampleCoup", "exampleSalem", "exampleBang"
    ]
    listModals.forEach(modal => {
      let handler = document.getElementById(modal);

      handler.addEventListener('shown.bs.modal')
    })
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>



</body>

</html>