<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Board Game</title>
  <link rel="icon" href="icon/icon.ico">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/slick.css">
  <link rel="stylesheet" href="/static/css/search.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">    
</head>

<body>
    <div class="container">
      <div class="result-text-wrapper">
        <h6 class="result-title text-center">เกมที่เราจะแนะนำคุณก็คือ</h6>
        <h1 class="result-game-category text-center">Family Game</h1>
      </div>
      <div class="row">
        <div class="col"  data-toggle="modal" data-target="#exampleForSale">
          <div class="board-game-wrapper">
            <img src="/static/image/family/pic1.jpg" alt="image" id="responsive-image">
            <p class="text-center board-game-name">For Sale</p>
          </div>
        </div>
        <div class="col"  data-toggle="modal" data-target="#exampleDixit">
          <div class="board-game-wrapper">
            <img src="/static/image/family/pic2.jpg" alt="image" id="responsive-image">
            <p class="text-center board-game-name">Dixit</p>
          </div>
        </div>
        <div class="col"  data-toggle="modal" data-target="#exampleSettles">
          <div class="board-game-wrapper">
            <img src="/static/image/family/pic3.jpg" alt="image" id="responsive-image">
            <p class="text-center board-game-name">The Settlers of Catan</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col"  data-toggle="modal" data-target="#exampleArt">
          <div class="board-game-wrapper">
            <img src="/static/image/family/pic4.jpg" alt="image" id="responsive-image">
            <p class="text-center board-game-name">Modern art</p>
          </div>
        </div>
        <div class="col"  data-toggle="modal" data-target="#exampleBoss">
          <div class="board-game-wrapper">
            <img src="/static/image/family/pic5.jpg" alt="image" id="responsive-image">
            <p class="text-center board-game-name">I am the boss</p>
          </div>
        </div>
        <div class="col"  data-toggle="modal" data-target="#exampleSheriff">
          <div class="board-game-wrapper">
            <img src="/static/image/family/pic6.jpg" alt="image" id="responsive-image">
            <p class="text-center board-game-name">Sheriff of Nottingham</p>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-dark">
      <div class="container navbar-container">
        <div class="ml-auto right-nav">
          <a href="../Djan/index.html">
            <form action="Home" method="POST">
              {% csrf_token %}
            <button class="btn btn-danger">
              หน้าแรก
            </button>
          </form>
          </a>
        </div>
      </div>
    </nav> 

  <!-- Modal goes here -->
    <div class="modal fade" id="exampleForSale" tabindex="-1" aria-labelledby="exampleForSaleLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/pic12345.png" alt="For Sale">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> For Sale </h1>
              <h2> เกมบ้านนี้ขาย </h2>
              <h3> จำนวนผู้เล่น: 3-6 คน </h3>
              <h3> ระยะเวลาเล่น: 15 นาที </h3>
              <br>
              <h4> วิธีการเล่นเกม </h4>
              <p>
              </br>มีการแบ่งการเล่นออกเป็นสองช่วง ในช่วงแรกจะเป็นการซื้อบ้าน และตามด้วยการนำบ้านมาวางขายในตลาดเพื่อทำกำไรให้มากที่สุด คนที่ได้เงินกลับไปมากที่สุดนั้นจะเป็นผู้ชนะในแต่ละเกมไป
              </br>เริ่มต้นครึ่งแรก (ประมูลเปิดซอง)
              </br>1.คนที่จะประมูลต้องลงเงิน “มากกว่า” คนก่อนหน้าเท่านั้น ลงเท่ากันหรือน้อยกว่าไม่ได้ หรือสละสิทธิ์
              </br>2.คนที่สละสิทธิ์ จะต้องหยิบบ้านที่มีตัวเลขบนการ์ดต่ำสุดไป และได้รับเงินคืนตามที่ลงไปหารสอง
              </br>3.ประมูลต่อไปเรื่อยๆ จนกว่าคนที่เหลือจะสละสิทธิ์และยอมหยิบบ้านเลขต่ำสุดไล่ไปเรื่อยๆ จนครบ
              </br>ขิงบ้านครึ่งหลัง (ประมูลปิดซอง)
              </br>1.นำการ์ดเงินสดออกมาใช้กัน โดยสลับกองแบบการ์ดบ้านและหยิบมาวางหงายเท่าจำนวนผู้เล่นเหมือนกับตอนประมูลการ์ดบ้าน
              </br>2.ทุกคนจะเลือกการ์ดบ้านหลังไหนก็ได้จากมือตัวเอง และวางคว่ำไว้ 1 ใบเป็นการเสนอประมูลและหงายการ์ดบ้านออกมาพร้อมกัน
              </br>3.ใครที่ลงบ้านที่มีตัวเลขคะแนนสูงสุด จะได้การ์ดเงินสดที่มีมูลค่าสูงสุดไป
              </br>4.คนที่มีบ้านคะแนนต่ำลงมา จะได้การ์ดเงินสดที่มีมูลค่ารองลงมา
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleDixit" tabindex="-1" aria-labelledby="exampleDixitLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/pic13.jpg" alt="Dixit">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Dixit </h1>
              <h2> เกมทายภาพ </h2>
              <h3> จำนวนผู้เล่น: 3-6 คน </h3>
              <h3> ระยะเวลาเล่น: 30 นาที </h3>
              <br>
              <h4> วิธีการเล่นเกม </h4>
              <p>
                เราจะได้ท่องเข้าไปในโลกแห่งภาพวาด ซึ่งในแต่ละตาผู้เล่น 1 คน จะได้รับบทบาทเป็น 
                “ผู้เล่านิทาน” ส่วนคนอื่น ๆ จะเป็น “ผู้ฟัง” โดยหน้าที่ของผู้เล่านิทานคือ จะต้องเลือกภาพวาดจากการ์ดที่อยู่ในมือ 
                1 รูป และบอกใบ้เกี่ยวกับรูปใบนั้น เพื่อให้ผู้ฟังคนอื่นๆ ทาย แต่มีข้อแม้ว่าต้องบอกใบ้ให้มีทั้งคนที่ทายถูกและคนที่ทายผิด 
                นั่นคือ “ไม่ง่ายและยากจนเกินไป” จึงจะสามารถเก็บแต้มจากการใบ้ได้
                </br>1.เเจกการ์ดผู้เล่นคนละ 6 ใบ
                </br>2.เริ่มจากคนเเรกเป็นคนใบ้ภาพโดยเลือกจากใบไหนก็ได้ในมือที่ค่อนข้างสอดคล้องกันกับภาพ
                </br>3.ผู้เล่นคนอื่นเมื่อฟังคำใบ้เเล้ว ก็เลือกไพ่ในมือที่ใกล้เคียงกับคำใบ้มากที่สุดออกมา 1 ใบคว่ำหน้า
                </br>4.นำไพ่ที่ทุกคนเลือกเเละคว่ำหน้าไว้มาสลับรวมกัน จากนั้น เอาไปวางเปิดหน้าบนแผ่นกระดานคะเเนน 
                </br>5.เมื่อไพ่เปิดเเล้วก็ทำการทายว่าภาพไหนเป็นภาพที่ถูกต้องของคนที่เป็นคนใบ้
                </br>6.จั่วการ์ดเพิ่มคนละใบ (ทุกครั้งของการเริ่มใบ้ใหม่ต้องมีการ์ดบนมือ 6 ใบ)
                </br>8.หมุนไปคนต่อไปเรื่อยๆเล่นเเบบนี้จนใครคะเเนนถึง 30 ก่อนชนะ หรือไพ่หมดกอง                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleSettles" tabindex="-1" aria-labelledby="exampleSettlesLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/pic144.jpg" alt="Settles">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> The Settlers of Catan </h1>
              <h2> เกมนักบุกเบิกแห่งคาธาน </h2>
              <h3> จำนวนผู้เล่น: 2-6 คน </h3>
              <h3> ระยะเวลาเล่น: 45-90 นาที </h3>
              <br>
              <h4> วิธีการเล่นเกม </h4>
              <p>
                นักบุกเบิกแห่งคาธาน ภายในตัวเกมผู้เล่นจะได้รับหน้าที่เป็นกลุ่มผู้บุกเบิก ที่ต้องเข้าไปตั้งถิ่นฐานยังเมือง 
                Catan แดนคนเถื่อนที่มีกองโจรเจ้าถิ่นอยู่กองหนึ่ง บนดินแดนนั้นผู้เล่นต้องแข่งกันขยายอาณาจักร 
                เพิ่มพูนทรัพยากรให้ตัวเอง ขยายกองทหาร เพื่อสร้างอารยธรรมของตัวเองให้ยิ่งใหญ่ที่สุดบนคาธานให้ได้ 
                ที่มีการผสมผสานแนวการเล่นยอดนิยมทั้งการเจรจา ดวง และการสร้างเมือง เอาไว้ด้วยกัน 
                เกมจะจบเมื่อมีคนเล่นได้แต้ม10คะแนน
                </br>1.ทอยเต๋า
                </br>2.แจกทรัพยากร
                </br> 3.เจ้าของตา (คนที่ทอยเต๋า) ทำการค้าขาย แลก ทรัพยากรกับเพื่อน
                </br>4.เจ้าของตา สร้างบ้าน ถนน  เมือง หรือ ซื้อไพ่            
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleArt" tabindex="-1" aria-labelledby="exampleArtLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/pic15.png" alt="Art">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Modern art </h1>
              <h2> เกมยอดนักประมูล </h2>
              <h3> จำนวนผู้เล่น: 3-5 คน </h3>
              <h3> ระยะเวลาเล่น: 45 นาที </h3>
              <br>
              <h4> วิธีการเล่นเกม </h4>
              <p>
                เกมนี้ผู้เล่นจะได้รับบทเป็นเจ้าของพิพิธภัณฑ์ที่จะต้องปล่อยประมูลภาพของตัวเอง 
                และต้องประมูลภาพศิลปะใหม่ ๆ เข้าพิพิธภัณฑ์ เพื่อทำเงินให้ได้มากที่สุด 
                คนที่มีเงินมากที่สุดจะเป็นผู้ชนะในเกมนี้
                </br>1.ในแต่ละรอบผู้เล่นจะต้องเลือกการ์ดภาพศิลปะ 1 ใบ แล้วทำตามสัญลักษณ์ของการ์ด
                </br>2.เมื่อมีการ์ดศิลปะสีเดียวกันถูกวางบนโต๊ะครบ 5 ใบ จะถือว่ารอบการประมูลจะจบลง
                </br>3.เมื่อเล่นรอบการประมูลครบ 4 รอบ จะถือว่าจบเกม           
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleBoss" tabindex="-1" aria-labelledby="exampleBossLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/pic16.jpg" alt="Boss">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> I am the boss </h1>
              <h2> เกมอย่าซ่ากับบอส </h2>
              <h3> จำนวนผู้เล่น: 3-6 คน </h3>
              <h3> ระยะเวลาเล่น: 60 นาที </h3>
              <br>
              <h4> วิธีการเล่นเกม </h4>
              <p>
                เมื่อวงการธุรกิจที่มีโครงการมากมายที่เหล่านักลงทุนสามารถทำกำไรได้มหาศาล นักลงทุนทั้ง 6 ตระกูลจึงจะต้องแสดงความสามารถที่ถนัดของตนในการที่จะได้รับเลือกให้ได้ร่วมทำโครงการเหล่านั้นต่อหน้าบอส ที่มีอำนาจในการแบ่งกำไรของธุรกิจนั้นๆ รวมถึงจังหวะการวางตัวและการใช้อำนาจต่อรองที่มีสามารถส่งผลให้เกมการลงทุนนี้พลิกได้ตลอด
                </br>1.ผู้เล่นสามารถเลือกได้ว่าจะทำการเปิดการประชุมโครงการในช่องที่ตัวหมากยืนอยู่ หรือจะทำการทอยลูกเต๋า 
                </br>2.เมื่อผู้เล่นเลือกทำการเปิดการประชุมโครงการ ผู้เล่นคนนั้นจะถือว่าเป็นบอสของโครงการนั้นๆ ที่จะต้องหาจำนวนผู้ร่วมลงทุนที่มีตัวอักษรตรงกับที่โครงการนั้นต้องการ
                </br>3.ระหว่างที่ประชุมผู้เล่นแต่ละคนสามารถใช้การ์ดอำนาจในการต่อรองได้
                </br>4.เมื่อผู้เล่นตกลงกันเสร็จสิ้นก็จะแบ่งส่วนแบ่งผลกำไรตามที่ตกลงไว้ และนำการ์ดข้อมูลของโครงการนั้นมาปิดช่องที่ทำการตกลงกันเสร็จเรียบร้อย
                </br>เกมจะจบเมื่อทำการตกลงโครงการตั้งแต่โครงการที่ 10 ขึ้นไป เมื่อนำการ์ดมาปิดจะมีตัวเลขหน้าเต๋าแสดงอยู่ ให้ผู้เล่นทำการทอยเต๋าแล้วถ้าผลของหน้าเต๋าออกตรงกับที่อยู่บนการ์ดเกมจะจบลงทันที ผู้เล่นที่มีเงินเยอะสุดจะเป็นผู้ชนะ                        
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleSheriff" tabindex="-1" aria-labelledby="exampleSheriffLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/pic178.png" alt="Sheriff">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Sheriff of Nottingham </h1>
              <h2> เกมนายอำเภอแห่งน็อตติงแฮม </h2>
              <h3> จำนวนผู้เล่น: 4-6 คน </h3>
              <h3> ระยะเวลาเล่น: 60 นาที </h3>
              <br>
              <h4> วิธีการเล่นเกม </h4>
              <p>
                ผู้เล่นแต่ละคนจะเล่นเป็นพ่อค้าแม่ค้านำสินค้าเข้ามาขายในเมือง โดยสินค้าที่นำเข้ามานั้นจะถูกตรวจสอบโดยผู้เล่นที่เป็นผู้ตรวจการ 
                ตัวเกมจะดำเนินโดยการที่ ให้ทุกคนพลัดกันเป็นพ่อค้าแม่ค้านำส่งไพ่สินค้าต่าง ๆส่งไปให้ผู้ตรวจการทำการตรวจสอบ 
                โดยใครมีเงินมากสุดก็เป็นผู้ชนะ
                </br>1.ผู้เล่นสามารถเลือกได้ว่าจะทำการเปิดการประชุมโครงการในช่องที่ตัวหมากยืนอยู่ หรือจะทำการทอยลูกเต๋า 
                </br>2.เมื่อผู้เล่นเลือกทำการเปิดการประชุมโครงการ ผู้เล่นคนนั้นจะถือว่าเป็นบอสของโครงการนั้นๆ ที่จะต้องหาจำนวนผู้ร่วมลงทุนที่มีตัวอักษรตรงกับที่โครงการนั้นต้องการ
                </br>3.ระหว่างที่ประชุมผู้เล่นแต่ละคนสามารถใช้การ์ดอำนาจในการต่อรองได้
                </br>4.เมื่อผู้เล่นตกลงกันเสร็จสิ้นก็จะแบ่งส่วนแบ่งผลกำไรตามที่ตกลงไว้ และนำการ์ดข้อมูลของโครงการนั้นมาปิดช่องที่ทำการตกลงกันเสร็จเรียบร้อย
                </br>เกมจะจบเมื่อทำการตกลงโครงการตั้งแต่โครงการที่ 10 ขึ้นไป เมื่อนำการ์ดมาปิดจะมีตัวเลขหน้าเต๋าแสดงอยู่ ให้ผู้เล่นทำการทอยเต๋าแล้วถ้าผลของหน้าเต๋าออกตรงกับที่อยู่บนการ์ดเกมจะจบลงทันที ผู้เล่นที่มีเงินเยอะสุดจะเป็นผู้ชนะ                         
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script>
      $('.carousel-view').slick({
        infinite: false,
        slidesToShow: 4,
        slidesToScroll: 1
      });
    </script>
  
    <!-- ฟังก์ชัน เลือกตัวที่เหมือนกับตัวอักษร-->
    <script>
  
      /* show pop up */
      const listModals = [
        "exampleForSale", "exampleDixit", "exampleSettles", "exampleArt", "exampleBoss", "exampleSheriff"
      ]
      listModals.forEach(modal => {
        let handler = document.getElementById(modal);
  
        handler.addEventListener('shown.bs.modal')
      })
    </script>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>
  
  
  
  </body>
  
  </html>