<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Board Game</title>
  <link rel="icon" href="icon/icon.ico">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/slick.css">
  <link rel="stylesheet" href="/static/css/search.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">    
</head>

<body>
  <div class="container">
    <div class="result-text-wrapper">
      <h6 class="result-title text-center">เกมที่เราจะแนะนำคุณก็คือ</h6>
      <h1 class="result-game-category text-center">Strategy Game</h1>
    </div>
    <div class="row">
      <div class="col"  data-toggle="modal" data-target="#exampleStoneAge">
        <div class="board-game-wrapper">
          <img src="/static/image/Strategy/age.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Stone Age</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleArchitectOfTheWestKingdom">
        <div class="board-game-wrapper">
          <img src="/static/image/Strategy/arch.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Architects of The West Kingdom</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleTerraformingMars">
        <div class="board-game-wrapper">
          <img src="/static/image/Strategy/mar.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Terraforming Mars</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"  data-toggle="modal" data-target="#examplePowerGrid">
        <div class="board-game-wrapper">
          <img src="/static/image/Strategy/power.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Power Grid</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#exampleScythe">
        <div class="board-game-wrapper">
          <img src="/static/image/Strategy/scy.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">Scythe</p>
        </div>
      </div>
      <div class="col"  data-toggle="modal" data-target="#example7Wonders">
        <div class="board-game-wrapper">
          <img src="/static/image/Strategy/wonder.jpg" alt="image" id="responsive-image">
          <p class="text-center board-game-name">7 Wonder</p>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-dark">
    <div class="container navbar-container">
      <div class="ml-auto right-nav">
        <a href="../Djan/index.html">
          <form action="Home" method="POST">
            {% csrf_token %}
          <button class="btn btn-danger">
            หน้าแรก
          </button>
        </form>
        </a>
      </div>
    </div>
  </nav> 
  
  <!-- Modal goes here -->
    <div class="modal fade" id="exampleArchitectOfTheWestKingdom" tabindex="-1" aria-labelledby="exampleArchitectOfTheWestKingdom" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content"> 
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/ARCHITECTS1.jpg" alt="ArchitectOfTheWestKingdom">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Architects of The West Kingdom </h1>
              <h2> สถาปนิก แห่งนครตะวันตก </h2>
              <h3> จำนวนผู้เล่น: 1-5 คน </h3>
              <h3> ระยะเวลาเล่น: 60-80 นาที </h3>
              <br>
              <!-- ref. https://www.boardgameacademia.com/product/1253/architect-of-the-west-kingdom-%E0%B8%AA%E0%B8%96%E0%B8%B2%E0%B8%9B%E0%B8%99%E0%B8%B4%E0%B8%81-%E0%B9%81%E0%B8%AB%E0%B9%88%E0%B8%87%E0%B8%99%E0%B8%84%E0%B8%A3%E0%B8%95%E0%B8%B0%E0%B8%A7%E0%B8%B1%E0%B8%99%E0%B8%95%E0%B8%81 -->
              <h4> วิธีการเล่นเกม </h4>
              <p>
                เมื่อเริ่มเกมส์ผู้เล่นจะได้เลือกตัวละคร โดยแบ่งเป็น 2 สาย
                <br> - คนดี แนวทางของสายนี้จะต้องเอาแรงงานไปหาไม้ เพื่อเอาไปบริจาคให้กับท้องพระคลังจะได้หินอ่อนซึ่งเอาไว้แลกเป็นแต้มได้ หรือจะเอาไปเสียภาษีให้กับรัฐ
                <br> - คนชั่ว แนวทางของสายนี้ไม่ว่าจะเป็นการจับแรงงานที่คนดีใช้เอาไปขายเป็นแรงงานทาส ขโมยภาษีของรัฐ ใช้แรงงานไปเข้าตลาดมืดเพื่อซื้อขายของเถื่อน
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="examplePowerGrid" tabindex="-1" aria-labelledby="examplePowerGrid" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content"> 
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/502_Power-Grid.jpg" alt="PowerGrid">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Power Grid </h1>
              <h2> เกมโรงไฟฟ้า </h2>
              <h3> จำนวนผู้เล่น: 2-6 คน </h3>
              <h3> ระยะเวลาเล่น: 120+ นาที </h3>
              <!-- ref. https://siamboardgames.com/product/power-grid/ -->
              <p>
                <br> เป้าหมายในเกมโรงไฟฟ้า คือผู้เล่นทุกคนจะได้รับเงินทุนมาก้อนหนึ่ง มาสร้างสัมปทานโรงไฟฟ้า เพื่อที่จะจ่ายพลังงานไฟฟ้าให้กับเมืองให้ได้มากที่สุด เราจะต้องสร้างเครือข่ายโรงงานของเราให้เกิดกำไรจากการเก็บค่าไฟ ซึ่งนอกเหนือจากการสร้างเครือข่ายแล้ว ผู้เล่นจะต้องทำการแข่งกันประมูลเพื่อแย่งเทคโนโลยีของการสร้างโรงไฟฟ้าทั้ง 4 ประเภท ได้แก่ โรงไฟฟ้าผลิตพลังงานจากถ่านหิน น้ำมัน ของเสีย และพลังงานนิวเคลียร์ จากนั้นจึงทำการซื้อวัตถุดิบที่ต้องใช้กับโรงงานของตนเอง ยิ่งวัตถุดิบไหนที่คนใช้เยอะราคาก็จะยิ่งสูง และการชิงจังหวะในการเริ่มก่อตั้งเครือข่ายในทำเลที่เหมาะสมที่สุดเพื่อชัยชนะ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="example7Wonders" tabindex="-1" aria-labelledby="example7Wonders" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content"> 
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/504_7-Wonders.jpg" alt="7Wonders">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> 7 Wonder </h1>
              <h2> 7 สิ่งมหัศจรรย์ </h2>
              <h3> จำนวนผู้เล่น: 2-7 คน </h3>
              <h3> ระยะเวลาเล่น: 30 นาที </h3>
              <!-- ref. https://siamboardgames.com/product/7-wonders/ -->
              <p>
                <br> สวมบทบาทผู้ปกครองอารยธรรมมหาอํานาจทั้งเจ็ดในประวัติศาสตร์โลก ใช้ทรัพยากรที่มีอย่างชาญฉลาด เพื่อพัฒนาอารยธรรมให้เจริญรุ่งเรือง สานสัมพันธไมตรีด้านการค้าพร้อมทั้งตระเตรียมไพร่พละกําลังทหารเพื่อคานอํานาจกับอารยธรรมอื่น ๆ ทิ้งร่องรอยของอารยธรรมไว้ให้
                <br> หลงเหลืออยู่ในประวัติศาสตร์ โดยการสร้างสิ่งปลูกสร้างขนาดมหึมาที่จะยังคงตั้งตระหง่านอยู่คู่กาลเวลา
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleTerraformingMars" tabindex="-1" aria-labelledby="exampleTerraformingMars" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content"> 
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/mar.jpg" alt="TerraformingMars">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Terraforming Mars </h1>
              <h2> พลิกพิภพดาวอังคาร </h2>
              <h3> จำนวนผู้เล่น: 1-5 คน </h3>
              <h3> ระยะเวลาเล่น: 120 นาที </h3>
              <!-- ref. https://siamboardgames.com/product/7-wonders/ -->
              <p>
                <br> ในยุคปี 2400 เหล่ามนุษยชาติมีการริเริ่มที่จะพัฒนาปรับปรุงพื้นผิวดาวอังคาร เพื่อดำเนินโครงการขนาดใหญ่หลายๆอย่าง จากการใช้ความรู้วิทยาศาสตร์ที่เราได้ศึกษากันมาตลอด เพื่อให้เกิดลักษณะของสิ่งแวดล้อมที่มวลมนุษย์คุ้นเคยเพื่อการเป็นอยู่ ทุกๆบริษัทจะร่วมมือกันพัฒนาในส่วนที่ตัวเองรับผิดชอบ แต่ต้องแข่งขันกันเพื่อเก็บคะแนนที่เป็นเสมือนรางวัลแสดงถึงความยิ่งใหญ่ขององค์กรของเรา
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleStoneAge" tabindex="-1" aria-labelledby="exampleStoneAge" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content"> 
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/503_stone age.jpg" alt="StoneAge">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Stone Age </h1>
              <h2> ย้อนเวลา พาบุกยุคหิน </h2>
              <h3> จำนวนผู้เล่น: 2-4 คน </h3>
              <h3> ระยะเวลาเล่น: 60-90 นาที </h3>
              <!-- ref. https://siamboardgames.com/product/terraforming-mars/ -->
              <p>
                <br> เรารับบทเป็นผุ้นำของชาวบ้านในยุคหินที่จะต้องพัฒนาหมู่บ้านของเราให้เจริญรุ่งเรืองมากกว่าหมู่บ้านอื่นๆ ซึ่งตัดสินจากแต้มที่เราทำได้ โดยกลไกการดำเนินเกมนั้น เราจะต้องส่งคนงานไปทำงานในจุดต่างๆ เช่น หากเราต้องการไม้เราต้องส่งคนงานไป ช่องเก็บไม้ โดยช่องเหล่านี้จะมีจำกัด หากเต็มแล้วคนอื่นจะไม่สามารถลงเพิ่มได้ ทำให้ลำดับการเล่น มีผลมากพอสมควร โดย คนงาน 1 คน จะทำให้ทอยเต๋าเพื่อเก็บทรัพยากรได้ 1 ลูก โดย ทรัพยากรแต่ละชนิดจะต้องการผลรวมบนหน้าเต๋าไม่เท่ากัน
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleScythe" tabindex="-1" aria-labelledby="exampleScythe" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content"> 
          <div class="modal-body">
            <!-- Photo -->
            <div class="modal-photo">
              <img src="/static/image/scythe.jpg" alt="Scythe">
            </div>
            <!-- Text -->
            <div class="modal-text">
              <h1> Scythe </h1>
              <h3> จำนวนผู้เล่น: 1-5 คน </h3>
              <h3> ระยะเวลาเล่น: 90-115 นาที </h3>
              <!-- ref. https://cafedtoy.wordpress.com/2015/12/27/scythe-2016/ -->
              <p>
                <br> ใน Scythe ผู้เล่นจะเป็นผู้นำกองกำลังที่ตกอับ และต้องการที่จะฟื้นฟู เกียรติยศ ผลักดันให้ตัวเองเป็นผู้ปกครองยุโรปตะวันออก ต้องทำสงครามยึดพื้นที่ เกณฑ์ทหาร เก็บเกี่ยวทรัพยากร สร้างประชากร สิ่งปลูกสร้าง รวมไปถึงการใช้หุ่นจักรกลขนาดใหญ่ ในการเคลื่อนย้ายกำลังพล
                <br> การเล่น Scythe เราจะได้เลือกฐานที่ตั้ง เก็บเกี่ยวทรัพยากร บริหารกองกำลัง ทำสงคราม การอัพเกรดความสามารถ และการบริหารเงิน เราจะรับบทเป็นผู้นำที่มี ประชากร และหุ่นจักรกลในอาณาจักรของตนเอง และแน่นอนว่าผู้นำแต่ละคนที่เราเลือกนั้นจะมีความสามารถเฉพาะตัว
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script>
      $('.carousel-view').slick({
        infinite: false,
        slidesToShow: 4,
        slidesToScroll: 1
      });
    </script>
  
    <!-- ฟังก์ชัน เลือกตัวที่เหมือนกับตัวอักษร-->
    <script>
  
      /* show pop up */
      const listModals = [
        "exampleArchitectOfTheWestKingdom", "examplePowerGrid", "example7Wonders", "exampleTerraformingMars", "exampleStoneAge", "exampleScythe"
      ]
      listModals.forEach(modal => {
        let handler = document.getElementById(modal);
  
        handler.addEventListener('shown.bs.modal')
      })
    </script>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>
  
  
  
  </body>
  
  </html>