body,
html {
    height: 100%;
    margin: 0;
}

.bg-img {
    background-image: url('img/test.jpg');
    height: 100%;
    filter: blur(5px);
}

.content {
    position: absolute;
    top: 1%;
    left: 3%;
    right: 3%;
}

h1 {
    font-family: verdana;
    color: rgb(0, 0, 0);
    font-size: 100px;
}

p {
    color: rgb(255, 255, 255);
    font-family: verdana;
    margin-right: 1%;
}

table,
th,
td {
    border: 1px solid black;
    font-family: verdana;
}

th,
td {
    padding: 5px;
    text-align: center;
}

th {
    text-align: center;
}

#t01 th {
    background-color: black;
    color: white;
}

.button {
    display: inline-block;
    padding: 5px 15px;
    font-family: Verdana;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: DodgerBlue;
}


/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}


/*style items (options):*/

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


/* 
.box {
    position: relative;
    font-family: Verdana;
} */


/* 
.box select {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 7px;
    width: 250px;
    border: none;
    font-size: 16px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
} */


/* .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
} */

.box select option {
    padding: 30px;
}