*:focus {
  outline:none;
}
body,html {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    outline: none;
}
body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}
.container {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}
#title{
    color: rgb(255, 255, 255);
    /*background: rgba(6, 155, 241, 0.6);*/
    font-size: 60px;
    height: 30%;
    width: 40%;
    float: left; 
    margin-right: 60px; 
}
#title2{
    color: rgb(255, 255, 255);
    background: rgba(176, 226, 255, 0.6);
}
#title-name{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0;
}
.center {
    margin: auto;
    width: 90%;
    /*border: 3px solid #73AD21;*/
    padding: 10px;
    text-align: center;
  }
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.carousel {
    margin: 10px auto;
}

.carousel h1 {
    font-size: 36px;
    margin: 0px 0px 30px 0px;
    font-weight: normal;
}

.carousel .box {
    float: left;
    width: 100%;
}

.carousel .box p {
    font-size: 20px;
    color: #feffc3;
    text-align: center;
    margin: 0;
}

.navbar-container {
  margin-bottom: 0 !important;
}

.carousel .box p img {
    margin-bottom: auto;
    margin: auto;
}

.slick-prev, .slick-next {
    background: url(../image//arrows.png);
    width: 22px;
    height: 33px;
    position: absolute;
    top: 30%;
    display: block;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    z-index: 100;
}

.slick-prev {
    background-position: 0px;
    left: 0px;
}

.slick-next {
    background-position: -22px;
    right: 0px;
}

@media only screen and (max-width: 1180px) {
    .carousel {
        width: 90%;
    }
}
#responsive-image {  width: 100%;  height: 100%; } 

.sqbg {
    height: 80%;
    width: auto;
}

/*Search box*/
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  background: url(../image/BG.gif);
  background-position: center;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 1;
}

p {
  margin-bottom: 0 !important;
}

.topnav {
  overflow: hidden;
  text-align: right;
  
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}


/* ปุ่ม search drop down */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  
.modal-content {
  border: none !important;
}
.modal-body{
  z-index: 3;
  background-color: rgb(48, 48, 48);
  display: flex;
  padding: 0 !important;
  height: 70vh;
  min-height: 70vh;
  max-height: 70vh;
}
.modal-photo {
    display:flex;
    justify-content: flex-end;
    align-content: flex-end;
    width: 35%;
    height: 100%;
    overflow: hidden;
}
.modal-photo img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.modal-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 20px;
    overflow-y: auto;
}
.modal-text h1{
    font-size: 60px;
    font-weight: 599;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: coral;
}
.modal-text h2{
  font-size: 36px;
  color: DarkSalmon;
}
.modal-text h3{
  font-size: 24px;
  color: DarkGrey;
}
.modal-text h4{
  font-size: 20px;
  color: DarkOrange;
}
.right-nav {
  display: flex;
  align-items: center;
}
.right-nav > i {
  color: #fff;
  margin-right: 0.5em;
}
.modal-text p{
    font-size: 16px;
    color: coral;
    line-height: 1.44;
}

.button2 {
  background-color: #ffffff3b; 
  color: rgb(255, 255, 255); 
  border: 2px solid #ff0000;
  width: 8%;
  height: 100%;
  font-size: 20px;
}

.button2:hover {
  background-color: #26a71a;
  color:  rgb(255, 255, 255);
}
.container{
display: block;
position: relative;
padding-left: 80px;
margin-bottom: 20px;
}

.call-action-button {
  background: rgb(255, 187, 0);
  border-radius: 4px;
  padding: 4px 16px;
  border-color: rgb(255, 187, 0);
  color: #fff;
}

.navbar-brand {
  font-size: 50px !important;
  font-weight: 700 !important;
}

.btn-danger {
  padding: 4px 20px !important;
}

.text-center {
  text-align: center !important;
}

.result-title {
  font-size: 30px;
  color: #b3b3b3;
  margin-top: 10vh;
}

.result-game-category {
  font-size: 80px;
  color: #fff;
  margin-bottom: 10vh;
}

.board-game-name {
  color: #fff;
  font-size: 30px;
  padding: 20px !important;
}