{% load static %}
<!DOCTYPE html>
<html lang="en">
  <title>Traveling Salesperson Problem</title>
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AI Project [404 NOT FOUND]</title>

    {% include 'base/css.html' %}
    {% include 'base/bootstrap_defaults.html' %}
  </head>
  <body class = "background">  

    <div class='container'>
    {% block content %}
    {% endblock content %}
    </div>
    {% include 'base/js.html' %}
    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>
  </body>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
  body{
    font-family: 'Kanit', sans-serif;
    font-size:16px;
    font-weight:;
    
    {% comment %} background-color:rgb(228, 252, 255) {% endcomment %}
  }

  

  
</style>


</html>

