{% extends 'base.html' %}

<script>
{% block jquery %}
var ctx = document.getElementById('Chart1').getContext('2d');
var ctx2 = document.getElementById('Chart2').getContext('2d');
var ctx3 = document.getElementById('Chart3').getContext('2d');
var StartCity = [];
var StopCity = [];
var dataCity = [];
var xpop = {{xpop}};
var ypop = {{ypop}};
var xstart = {{xstart}};
var ystart = {{ystart}};
var xstop = {{xstop}};
var ystop = {{ystop}};
//ปรับรูปแบบข้อมูลให้ตรงกับโครงสร้างตอนสร้างกราฟ
for(var i=0;i<xstart.length;i++){
    StartCity.push({x:xstart[i],y:ystart[i]});
    StopCity.push({x:xstop[i],y:ystop[i]});
}
StartCity.push({x:xstart[0],y:ystart[0]});
StopCity.push({x:xstop[0],y:ystop[0]});


//ปรับรูปแบบข้อมูลให้ตรงกับโครงสร้างตอนสร้างกราฟ
for(var i=0;i<xpop.length;i++){
        dataCity.push({x:xpop[i],y:ypop[i]});
    }
    var Chart1 = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'CityList',
            data: dataCity,
            backgroundColor: "Red",
            pointRadius: 6
        }]
    },
//------ส่วนในการตกแต่งกราฟ---------
    options: {
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero: true,
                    max: 200
                 }
            }],
            yAxes:[{
                ticks: {
                beginAtZero: true,
                 max: 200
                },
            }]
        }
    }
});
var Chart2 = new Chart(ctx2, {
    type: 'line',
    data:  {datasets: [{
            label: 'Path',
            data: StartCity,
            backgroundColor: "Red",
            pointRadius: 6,
            fill: false,
            borderColor: "#36a2eb"
        }]
        },
//------ส่วนในการตกแต่งกราฟ---------
    options:{
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero: true,
                    max: 200
                 },
                type: 'linear',
            }],
            yAxes:[{
                ticks: {
                beginAtZero: true,
                 max: 200
                },
            }]
        }
    }
});
//----------------------------------
var Chart3 = new Chart(ctx3, {
    type: 'line',
    data:  {datasets: [{
            label: 'Path',
            data: StopCity,
            backgroundColor: "Red",
            pointRadius: 6,
            fill: false,
            borderColor: "#36a2eb"
        }]
        },
//------ส่วนในการตกแต่งกราฟ---------
    options:{
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero: true,
                    max: 200
                 },
                type: 'linear',
            }],
            yAxes:[{
                ticks: {
                beginAtZero: true,
                 max: 200
                },
            }]
        }
    }
});
//----------------------------------

{% endblock %}
</script>

{% block content %}
<div id="header"  style="text-align:center; height: 80px;">     
    <body>
    <h1>Traveling Salesperson Problem</h1>
</div>

    <h3 style="color: aliceblue;">ค้นหาเส้นทาง</h3>
    <div class = "abc">
        <form action="calculate" method="POST">
            {% csrf_token %}
            <div class="numCity">
                <div id = "between">
                    <label for="">จำนวนประชากร:</label>
                    <input type="text" class="population" style="color: rgb(0, 0, 0);" name="pop"><br>
                </div>
                <div id = "between">
                    <label for="">จำนวนพ่อแม่พันธุ์ที่ดีที่สุด:</label>
                    <input type="text" class="eliteSize" style="color: rgb(0, 0, 0);" name="elite"><br>
                </div>
                <div id = "between">    
                    <label for="">โอกาสการกลายพันธุ์(0-1):</label>
                    <input type="text" class="mutationRate" style="color: rgb(0, 0, 0);" name="mutation"><br>
                </div>
                <div id = "between">
                    <label for="">จำนวนรุ่น:</label>
                    <input type="text" class="generations" style="color: rgb(0, 0, 0);" name="generation"><br>
                </div>
            </div>
            <div id = "between">
                <input style="width:200px; height:50px;" type="submit" value="ค้นหาเส้นทาง" class="btn btn-primary ">  
            </div>
        </form>
        <form action="Modify" method="POST">
            {% csrf_token %}
            <div id = "between">
            <input style="width:200px; height:50px;" type="submit" value="แก้ไขเมือง" class="btn btn-primary "> 
            </div>
        </form>
        </body>
    </div>
    <div id = "content" style="width: 1200px; height: 500px;">
        <h3>จุดพิกัดเมือง</h3>
        <canvas id="Chart1" height="2px" width="6px"></canvas>
        {%for subitem in name%}
            {{subitem}} ||
        {% endfor %}
        <br>
        {%for subitem in cityList%}
            {{subitem}} ||
        {% endfor %}
    </div>
    <div id = "content" style="width: 1200px; height: 600px;">
        <h3>เส้นทางการเดินทางรอบแรก</h3>
        <canvas id="Chart2" height="2px" width="6px"></canvas>
        <h4>ลำดับการเดินทาง</h4>
        {%for subitem in NameStart%}
            {{subitem}} ->
        {% endfor %}
            END
        <br>
        {%for subitem in CityStart%}
            {{subitem}} ->
        {% endfor %}
            END
        <h4>ระยะทางเริ่มต้น: {{dStart}}</h4>
    </div>
    <div id = "content" style="width: 1200px; height: 600px;">
        <h3>เส้นทางการเดินทางรอบสุดท้าย</h3>
        <canvas id="Chart3" height="2px" width="6px"></canvas>
        <h4>ลำดับการเดินทาง</h4>
        {%for subitem in NameStop%}
            {{subitem}} ->
        {% endfor %}
            END
        <br>
        {%for subitem in CityStop%}
            {{subitem}} ->
        {% endfor %}
            END
        <h4>ระยะทางสุดท้าย: {{dStop}}</h4>
    </div>


    <style>
    #content{
        background-color: rgb(255,255,255);
    }

    #between{
       margin-top: 20px;
    }

    .abc{
       text-align: center;
       color:white; 
    }

    h1{
        color:white;    
    }

    h3{
        color:black;
    }
    
    label{
        width:180px;
    }
    body{
        background-image: url("/static/img/backgrond.jpg");
    }
</style>


{% endblock content %}
