{% extends 'base.html' %}

<script>
    {% block jquery %}
    var ctx = document.getElementById('Chart1').getContext('2d');
    var dataCity = [];
    var xpop = {{xpop}};
    var ypop = {{ypop}};
    //ปรับรูปแบบข้อมูลให้ตรงกับโครงสร้างตอนสร้างกราฟ
    for(var i=0;i<xpop.length;i++){
        dataCity.push({x:xpop[i],y:ypop[i]});
    }
    var Chart1 = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'CityList',
            data: dataCity,
            backgroundColor: "Red",
            pointRadius: 6
        }]
    },
//------ส่วนในการตกแต่งกราฟ---------
    options: {
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero: true,
                    max: 200
                 }
            }],
            yAxes:[{
                ticks: {
                beginAtZero: true,
                 max: 200
                },
            }]
        }
    }
});

{% endblock %}
</script>

{% block content %}


<div id="header"  style="text-align:center; height: 80px;">      
<body>
    <h1>Traveling Salesperson Problem</h1>
</div>

<h3 style="color: aliceblue;">กำหนดเมือง</h3>

<div class = "abc">
    <form action="AddCity" method="POST">
        {% csrf_token %}
        <div class="numCity">
            <div id = "between">
                <label for="">พิกัดแกนX (ค่า 0-200):</label>
                <input type="text" class="X" style="color: rgb(0, 0, 0);" name="x"><br>
            </div>
            <div id = "between">
                <label for="">พิกัดแกนY (ค่า 0-200):</label>
                <input type="text" class="Y" style="color: rgb(0, 0, 0);" name="y"><br>
            </div>
            <div id = "between">
                <label for="">ชื่อเมือง:</label>
                <input type="text" class="name" style="color: rgb(0, 0, 0);" name="name"><br>
            </div>
           
            <div id = "between">
                <input style="width:200px; height:50px;" type="submit" value="เพิ่มเมือง" class="btn btn-primary ">  
            </div>
        </div>
    </form>
</div>

    <div id = "content" style="width: 1200px; height: 500px;">
        <h3>จุดพิกัดเมือง</h3>
        <canvas id="Chart1" height="2px" width="6px"></canvas>
        {%for subitem in name%}
            {{subitem}} ||
        {% endfor %}
        <br>
        {%for subitem in cityList%}
            {{subitem}} ||
        {% endfor %}
    </div>
<div class = "abc">
    <form action="delete" method="POST">
        {% csrf_token %}
        <div id = "between">
        <input style="width:200px; height:50px;" type="submit" value="ลบเมือง" class="btn btn-primary ">
        </div>
    </form>
    <form action="DeleteAll" method="POST">
        {% csrf_token %}
        <div id = "between">
        <input style="width:200px; height:50px;" type="submit" value="ลบเมืองทั้งหมด" class="btn btn-primary "> 
        </div>
    </form>
    <form action="search" method="POST">
        {% csrf_token %}
        <div id = "between">
        <input style="width:200px; height:50px;" type="submit" value="ค้นหาเส้นทาง" class="btn btn-primary "> 
        </div>
    </form>
</div>
</body>

<style>
    #content{
        background-color: rgb(255,255,255);
    }

    #between{
       margin-top: 20px;
    }

    .abc{
       text-align: center;
       color:white;
    }

    h3{
        color:black;
    }
    
    label{
        width:180px;
        height:px;
    }

    h1{
        color:white;    
    }

    body{
        background-image: url("/static/img/backgrond.jpg");
    }
</style>


{% endblock content %}

