{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
  <title>Where2go</title>
  <style>
    body,
    html {
      height: 100%;
      margin: 0;
    }

    /* ส่วนของกรอบ */
    .rcorners {
      margin: 20px;
      /* เว้นช่องว่างระหว่างช่องคำถาม */
      border-radius: 50px;
      background: #017c74ef;
      /* ทำให้สีโปร่งใสใช้สี rgba เช่น background: rgba(204, 204, 204, 0.5); */
      padding: 50px;
      width: 700px;
      height: 90px;
    }

    .r2corners {
      margin: 20px;
      /* เว้นช่องว่างระหว่างช่องคำถาม */
      border-radius: 50px;
      background: #017c74ef;
      /* ทำให้สีโปร่งใสใช้สี rgba เช่น background: rgba(204, 204, 204, 0.5); */
      padding: 50px;
      width: 700px;
      height: 120px;
    }

    .r3corners {
      margin: 20px;
      /* เว้นช่องว่างระหว่างช่องคำถาม */
      border-radius: 50px;
      background: #017c74ef;
      /* ทำให้สีโปร่งใสใช้สี rgba เช่น background: rgba(204, 204, 204, 0.5); */
      padding: 50px;
      width: 700px;
      height: 400px;
    }

    .bg {
      /* ทำให้ภาพ background เต็มจอได้ขณะเปิด Django(ตอน Run Server) */
      background-image: linear-gradient(to right, rgba(7, 46, 26, 0.52), rgba(7, 46, 26, 0.52)), url("/static/img/วิว.jpg");
      /* ต้องเรียกใช้ {% load static %} ต้องสร้างไฟล์ static กับ img เก็บรูปภาพ 
        ส่วนของ settings.py ต้องเพิ่ม STATICFILES_DIRS = ( os.path.join(BASE_DIR, 'static'),) */
      height: 100%;
      width: 100%;
      position: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    div.scorl {
      margin: auto;
      height: 80%;
      width: 60%;
      overflow: auto;
      /* เป็นส่วนทำให้มี scorllbar */
    }

    h1 {
      /* ปรับตัวหนังสือ */
      text-align: center;
      color: #fff;
      font-family: 'Kanit', sans-serif;
    }

    /*------ส่วนของปุ่มตัวเลือก (Radio Buttons)---------*/
    /* The container */
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 20px;
      font-family: 'Kanit', sans-serif;
      /*text-align: center;*/
    }

    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 5px;
      left: 5px;
      height: 15px;
      width: 15px;
      background-color: #eee;
      border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
      background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked~.checkmark {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked~.checkmark:after {
      display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: white;
    }

    /*----------------------------------------------*/
    /*--------ส่วนของปุ่ม Submit-----------------------*/
    .button {
      border: none;
      color: #ffffff00;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      font-family: 'Kanit', sans-serif;
    }

    .button1 {
      background-color: #bbe65875;
      color: rgb(255, 255, 255);
      border: 2px solid #3f833f;
    }

    .button1:hover {
      background-color: #77ce7a;
      color: rgb(0, 0, 0);
    }

    .button2 {
      background-color: #e9767675;
      color: rgb(255, 255, 255);
      border: 2px solid #881212;
    }

    .button2:hover {
      background-color: #bb4646;
      color: rgb(0, 0, 0);
    }

    /*----------------------------------------------*/

    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
</head>


<body>
  <div class="bg">
    <h1>วันนี้คุณจะไปเที่ยวที่ไหนดี?</h1>
    <div class="scorl">

        <form action="TripPredict" method="POST">
          {% csrf_token %}
          <!-- *******คำถาม1********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            1.คุณเป็นเพศอะไร?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 50px; margin-right: 50px;">ผู้ชาย
                <input type="radio" name="gender" value="male">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 50px; margin-right: 50px;">ผู้หญิง
                <input type="radio" name="gender" value="female">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 50px; margin-right: 50px;">LGBTQ
                <input type="radio" name="gender" value="LGBTQ">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม2********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            2.คุณอายุเท่าไร?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              </label>
              <label class="container" style="margin-left: 50px; margin-right: 50px;">11-20ปี
                <input type="radio" name="age" value="young">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 50px; margin-right: 50px;">21-40ปี
                <input type="radio" name="age" value="half">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 50px; margin-right: 50px;">41-60ปี
                <input type="radio" name="age" value="old">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม3********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            3.ตอนนี้คุณอาศัยอยู่ในภาคกลางใช่หรือไม่?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 50px; margin-right: 50px;">ใช่
                <input type="radio" name="central" value="yes">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 50px; margin-right: 50px;">ไม่ใช่
                <input type="radio" name="central" value="no">
                <span class="checkmark"></span>
              </label>
              </label>
            </div>
          </div>
          <!-- *******คำถาม4********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            4.คุณมักวางแผนในการท่องเที่ยวมากน้อยเพียงใด?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อยที่สุด
                <input type="radio" name="plan" value="1">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
                <input type="radio" name="plan" value="2">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
                <input type="radio" name="plan" value="3">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
                <input type="radio" name="plan" value="4">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
                <input type="radio" name="plan" value="5">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม5********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            5.คุณกำลังจะไปเที่ยวกับใคร?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 50px; margin-right: 50px;">คนเดียว
                <input type="radio" name="people" value="alone">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 50px; margin-right: 50px;">เพื่อน
                <input type="radio" name="people" value="friends">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 50px; margin-right: 50px;">อื่นๆ
                <input type="radio" name="people" value="other">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม6********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            6.คุณจะเดินทางไปด้วยวิธีใด?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 50px; margin-right: 50px;">รถยนต์ส่วนตัว
                <input type="radio" name="travel" value="private">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 50px; margin-right: 50px;">รถไฟ
                <input type="radio" name="travel" value="train">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 50px; margin-right: 50px;">อื่นๆ
                <input type="radio" name="travel" value="other">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม7********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            7.คุณจะใช้เวลาในการท่องเที่ยวกี่วัน?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 50px; margin-right: 50px;">1-2 วัน
                <input type="radio" name="day" value="1">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 50px; margin-right: 50px;">3-5 วัน
                <input type="radio" name="day" value="2">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 50px; margin-right: 50px;">5-7 วัน
                <input type="radio" name="day" value="3">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม8********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            8.คุณต้องใช้ค่าใช้จ่ายประมาณเท่าไร?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ต่ำกว่า 1,000
                <input type="radio" name="cost" value="1k">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">1,001 – 3,000
                <input type="radio" name="cost" value="3k">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">3,001 – 5,000
                <input type="radio" name="cost" value="5k">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">มากกว่า 5,000
                <input type="radio" name="cost" value="5k+">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม9********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            9.คุณจะไปท่องเที่ยวในช่วงเวลาใด?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 10px; margin-right: 5px;">วันหยุดสุดสัปดาห์
                <input type="radio" name="time" value="weekend">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 5px;">วันหยุดเทศกาล
                <input type="radio" name="time" value="holiday">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 5px;">ช่วงปิดเทอม
                <input type="radio" name="time" value="termend">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 5px;">ทุกเวลาที่ต้องการไป
                <input type="radio" name="time" value="everytime">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม10********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            10.คุณชอบท่องเที่ยวที่ที่มีคนพลุกพล่านมากเพียงใด?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อยที่สุด
                <input type="radio" name="busy" value="1">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
                <input type="radio" name="busy" value="2">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
                <input type="radio" name="busy" value="3">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
                <input type="radio" name="busy" value="4">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
                <input type="radio" name="busy" value="5">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม11********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            11.ระดับความเครียดในการทำงาน?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อยที่สุด
                <input type="radio" name="strain" value="1">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
                <input type="radio" name="strain" value="2">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
                <input type="radio" name="strain" value="3">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
                <input type="radio" name="strain" value="4">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
                <input type="radio" name="strain" value="5">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม12********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            12.คุณชอบถ่ายรูปมากแค่ไหน?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อยที่สุด
                <input type="radio" name="photo" value="1">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
                <input type="radio" name="photo" value="2">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
                <input type="radio" name="photo" value="3">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
                <input type="radio" name="photo" value="4">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
                <input type="radio" name="photo" value="5">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม13********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            13.คุณชอบท่องเที่ยวภายในภูมิภาคที่ตนเองอาศัยอยู่หรือนอกภูมิภาคของตนเอง?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">

              <label class="container" style="margin-left: 10px; margin-right: 30px;">ภายในภูมิภาค
                <input type="radio" name="region" value="in">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 30px;">นอกภูมิภาค
                <input type="radio" name="region" value="out">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม14********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            14.คุณมักให้ความช่วยเหลือกับผู้อื่นมากน้อยเพียงใด?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 10px; margin-right: 10px;">น้อย
                <input type="radio" name="help" value="2">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ปานกลาง
                <input type="radio" name="help" value="3">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">มาก
                <input type="radio" name="help" value="4">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">มากที่สุด
                <input type="radio" name="help" value="5">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม15********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            15.เมื่อคุณไปเที่ยวค้างคืนคุณจะเลือกพักอาศัยที่ใด?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 10px; margin-right: 10px;">โรงแรม
                <input type="radio" name="stay" value="hotel">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">รีสอร์ท
                <input type="radio" name="stay" value="resort">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">โฮมสเตย์
                <input type="radio" name="stay" value="homestay">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ห้องพักรายวัน
                <input type="radio" name="stay" value="dailyroom">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">เต็นท์
                <input type="radio" name="stay" value="tent">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม16********** -->
          <div class="r2corners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            16.คุณชอบเที่ยวภาคใดมากที่สุด?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ภาคเหนือ
                <input type="radio" name="like" value="n">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ภาคตะวันออกเฉียงเหนือ
                <input type="radio" name="like" value="ne">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ภาคกลาง
                <input type="radio" name="like" value="c">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 20px; margin-right: 20px;">ภาคตะวันออก
                <input type="radio" name="like" value="e">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 20px; margin-right: 20px;">ภาคตะวันตก
                <input type="radio" name="like" value="w">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 20px; margin-right: 20px;">ภาคใต้
                <input type="radio" name="like" value="s">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- *******คำถาม17********** -->
          <div class="rcorners"
            style="text-align:left;font-size: 155%;color: rgb(255, 255, 255); font-family: 'Kanit', sans-serif;">
            17.คุณต้องการได้รับสิ่งใดมากที่สุดสำหรับการไปเที่ยวในครั้งนี้?
            <div class="choice" style="display: flex; justify-content: center; margin-top: 20px">
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ได้พักผ่อน
                <input type="radio" name="get" value="rest">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ได้รับแรงบัลดาลใจ
                <input type="radio" name="get" value="inspire">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">ได้เปิดโลกทัศน์เปิดประสบการณ์ใหม่ๆ
                <input type="radio" name="get" value="newexp">
                <span class="checkmark"></span>
              </label>
              <label class="container" style="margin-left: 10px; margin-right: 10px;">เพิ่มความสัมพันธ์กับคนที่คุณรัก
                <input type="radio" name="get" value="relation">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <!-- ******************** -->
          <button class="button button1" id="myBtn" style="float: right; margin-right: 80px;">เสร็จสิ้น</button>
        </form>

        <form action="Home" method="POST">
          {% csrf_token %}
          <button class="button button2" input type="submit" value="Back" style="float: left; margin-left: 20px;">ยกเลิก
          </button>
        </form>
    </div>

</body>

</html>